{% extends  'JingQu/models.html' %}
{% block content %}

            平遥古城距太原市约85公里，古城内的街道、店铺和民居依旧保持着传统的布局和风貌，是我国保存最为完好的古城之一，也是目前我国唯一以整座古城成功申报世界文化遗产的古县城。平遥曾是晚清时期中国的金融中心，走进这座曾经繁华的古城，处处可以感受到晋商文化的气息。

            古城共有六个门，北门近平遥汽车站，西门近平遥火车站，南门和西门则是游客最多的地方。进入古城是不需要门票的，若要登上城墙、参观票号等景点，则需购买古城通票。古城不算大，靠步行足以逛完，不愿走路也可乘坐电瓶车。

            整个古城的街道布局为“土”字形，游玩时通常从下西门进城，沿西大街走到“中国现代银行的鼻祖”日升昌票号，在这里不仅可以了解古代银行业的发展史，还可以让长袍马褂的老掌柜用最早的汇票方式给你写张汇票，特别有历史感。

            继续向前便是纵贯南北的南大街，它是古城的中轴线。明清时期，南大街控制着全国一半以上的金融机构，被誉为当年的“中国华尔街”。如今这里也是古城最繁华的地方，被称为明清古街。古城中大部分景点都集中在这里，以古城标志性建筑古市楼为中心，分布着协同庆票号（中国钱庄博物馆）、蔚泰厚（票号博物馆）、百川通、中国镖局博物馆、同兴公镖局、蔚盛长、中国珍奇报纸陈列馆、天吉祥等景点，还有饭馆、乐器行、咖啡馆、酒吧一应俱全。可沿街游玩过后，在此吃饭，买点纪念品，然后继续往南参观。

            在古城南面的平遥古县衙，可以看到大量古代文书和刑具，每天还有县衙升堂的表演；上东门附近的城隍庙和文庙修得颇为气派且讲究，而且香火很旺，可以上香。

            平遥古城墙也是古城的看点之一，不仅雄伟，而且保存得十分完整。登上城墙，可以俯瞰古城全貌。其中，南门（迎熏门）的城楼最为精美，而且这边靠近民居，还能看到古城里人们的生活。如果时间充裕，可以沿着城墙绕古城走一圈，全方位感受古城的风貌，大概需要一个多小时。傍晚在城墙上看夕阳，景色很美。

            除了古城本身，平遥另外两大看点分别是镇国寺和双林寺。镇国寺全寺没有一根钉子，所有结构都是木头与木头相互卯碶而成；双林寺内10余座大殿内保存有元代至明代的彩塑造像，非常精美。

            游玩平遥古城，可以挑选几个感兴趣的景点参观后，乘车前往乔家大院继续游玩，然后返回太原。比较推荐的是在古城内住一晚，看看古城的夜景，也可以租辆自行车，去那些小巷子里体验真正的平遥，看人文风俗或者拍照摄影都是很棒的题材。特别是过年的时候，整个平遥年味十足。城内都是老院子改的客栈，平时价格不贵，完全可以找到几十块，干净整洁的住处。

            另外，平遥的牛肉是非常有名的，清末慈禧太后曾途经平遥，享用平遥牛肉后甚是喜爱，还将其定为皇宫贡品。古城内随处可见打着“冠云牛肉”名号的店，真假难辨而且价格普遍偏贵，可以在城外买一点尝尝和送亲友。

{% endblock %}