{% extends  'JingQu/models.html' %}
{% block content %}

            东方明珠矗立于上海浦东陆家嘴，与外滩隔江相望，是上海的标志性建筑。乘坐全透明观光电梯登上351米高的太空舱观光层，可将浦江两岸风光一览无余，还可以让人们与“宇航员”来一次互动。若在267米高的空中旋转餐厅一边品尝美食一边欣赏申城夜景，更是超凡的体验。

            东方明珠塔高468米，由11个大小不一的球体串联一体，此设计来源于“大珠小珠落玉盘”的美妙意境。登上三个主球体，可站在不同的高度品赏浦江两岸的城市风光，尤其站在259米高度的全透明观光廊上，以“空中漫步”的独特方式欣赏申城全景。而夜晚登临观光层感受“不夜城”夜幕下的绚彩，更是难忘的享受。

            东方明珠还是娱乐、美食、博览以及购物的小世界。在塔座的上海城市历史发展陈列馆可以了解到上海近代历史的变迁；在东方明珠95米“高空VR过山车”一起尖叫一起飞；玩累了，可以到旋转餐厅品尝世界各地美食、欣赏现场制作与烹饪表演。结束旅程时，可至特色商品楼层选购纪念品，或买张明信片、盖上空中邮局的邮戳，寄给自己或者想要祝福的亲友。

{% endblock %}