{% extends  'JingQu/models.html' %}
{% block content %}

            上海迪士尼度假区位于上海浦东新区，是中国大陆第一个迪士尼度假区，你可以在此亲历许多全球迪士尼乐园中的“第一”，包括较大的迪士尼城堡、以海盗为主题的园区、较长的迪士尼花车巡游路线等，身临其境地感受神奇王国。

            迪士尼乐园

            上海迪士尼乐园分为七个各具特色的主题园区，包括“米奇大街”、“奇想花园”、“梦幻世界”、“迪士尼·皮克斯玩具总动员”、“探险岛”、“宝藏湾”和“明日世界”。无论男女老少都能在这里找到快乐的天地。

            #米奇大街#

            一进入迪士尼乐园门口，便步入了“米奇大街”。米妮、唐老鸭、黛丝、高飞以及布鲁托等一众伙伴将在这里欢聚，你可以在这里与喜爱的迪士尼朋友热情拥抱、合影留念。在大街上五花八门的商铺中，“M大街购物廊”将提供乐园内丰富的礼品和纪念品选择。

            #奇想花园#

            奇想花园由7片不同风格的神奇小花园组成，你可以驾着“幻想曲旋转木马”回旋在欢乐中，或是乘坐“小飞象”翱翔天空，还有城堡舞台秀和“点亮奇梦：夜光幻影秀”等多项标志性迪士尼娱乐演出可供观赏。游客还能在这里从不同角度欣赏全球路线较长的迪士尼主题花车巡游——“米奇童话专列”。

            #梦幻世界#

            梦幻世界是乐园中较大的园区，也是宏伟壮丽的“奇幻童话城堡”所在地。在这个如童话般的仙境中，动画控们可以伴着小熊维尼探索百亩森林，和爱丽丝一起在梦游仙境迷宫中穿行，与七个小矮人一同乘坐矿山车探险，登上“小飞侠天空奇遇”飞船横越伦敦的天空，或是跟着“晶彩奇航”蜿蜒漂流过一个个熟悉的迪士尼故事。

            #迪士尼·皮克斯玩具总动员#

            在这里，你可以坐上“弹簧狗”的螺旋形弹簧，欢快地围着一个盛满了玩具骨头的大狗盘绕圈，“抱抱龙”将邀请大家坐上遥控冲天赛车，在长长的“U”型轨道上开启一段刺激的冒险旅程，除此之外，你还可以在“艾尔玩具店”，购买你喜欢的游戏、玩具、服饰、徽章等。

            #探险岛#

            来到探险岛，仿佛置身于新发现的远古部落中。巍峨的雷鸣山将为你的探险岛之旅指出明确的方向。你可以在“古迹探索营”中走出自己的探险之路，或是在“翱翔•飞越地平线”里横跨世界和时空，坐上“雷鸣山漂流”的筏艇深入探险岛腹地，探索一只庞大神秘巨兽所在的黑暗领域。

            #宝藏湾#

            “宝藏湾”是全球迪士尼乐园中第一个以海盗为主题的园区。“加勒比海盗——沉落宝藏之战”将水载乘坐项目变为惊险刺激的大冒险，富有探险精神的游客们还可以划着“探险家独木舟”畅美丽海湾，踏上海盗船的甲板，在“巴波萨烧烤”大快朵颐。

            #明日世界#

            “明日世界”充满了无尽可能并展现出未来光明的愿景。星际探险项目“巴斯光年星际营救”带领游客们勇往直前、超越无限；“喷气背包飞行器”让人们突破重力束缚；“创极速光轮”包裹在巨大的半透明穹顶建筑下，幻化着不同光彩，吸引游客跨上两轮光轮摩托队列，挑战全球迪士尼乐园中较为紧张刺激的过山车项目之一。

            迪士尼小镇

            迪士尼小镇是上海迪士尼度假区的大型购物餐饮娱乐区，毗邻上海迪士尼乐园，并将向公众免费开放。国际化的迷人街区令人流连忘返，游客可以在享用美食的同时观赏到上海迪士尼乐园的迷人景色。而位于“迪士尼小镇”的“华特迪士尼大剧院”，上演《狮子王》这部百老汇史上成功音乐剧的普通话版本，此剧单独售票。

            园区餐饮

            迪士尼乐园中有巴波萨烧烤、皇室宴会厅、皮诺丘乡村厨房、部落丰盛堂、米奇好伙伴美味集市、星露台餐厅、小米大厨烘培坊、漫月轩、老藤树食栈等多家主题餐厅，散布在各个主题园区内，东西方菜系的丰富美食、特色点心和诱人甜品一应俱全，让你的神奇之旅回味无穷。

            主题酒店

            “上海迪士尼乐园酒店”和“上海玩具总动员酒店”紧邻上海迪士尼乐园，优越的地理位置将迪士尼神奇之旅从白天延续到夜晚。两家酒店结合了迪士尼故事讲述的主题设计，并将为宾客提供温馨周到的服务、丰富多样的娱乐活动、美食飨宴、购物体验及各种休闲选择，带来蕴含中国魅力的迪士尼体验。如果在乐园中购买了商品，可以免费递送至其下榻的酒店中，另外度假区内还设有免费穿梭巴士和轮渡，往返于两座酒店和迪士尼乐园之间，交通十分方便。

{% endblock %}