{% extends  'JingQu/models.html' %}
{% block content %}

            古北水镇位于密云东北侧，是一处在古村的基础上改造重建的古镇景区。古镇依水而建，充满北方古镇的大气威严，也有很多江南水乡的特色，还可以泡温泉、品尝美食、免预约爬司马台长城，是京郊地区休闲度假不错的选择。

            古北水镇内不通车，非常适合步行游玩，镇子沿着河岸而建，大致是一条东西向的长条形，长约2公里。游客一般是从西侧的景区入口进入，然后随意漫步游玩，半天到一天均可。沿途观看古色古香的宅院、牌坊、古塔、桥梁等，其中有不少都是从山西等地移来的真正的古民居建筑，门楣、雕花等都十分古老和精美，可以细细品味，拍摄美丽照片。另外，乘船漫游（冬季会停运）也是不错的选择，坐在船头，悠闲舒适的观赏古镇美景，格外惬意。

            不可错过的景点

            古镇里有几处景点是前来游玩不可错过的重点，一进门处的司马小烧酒坊里可以参观古老的酿酒工艺，还可以现场买酒。
            酒坊东边的永顺染坊使用古代的大缸浸染的方式染布，游客来此可以看到悬挂晾干的巨幅花布，很像古装剧里的场景，也是拍摄大片的好地方。
            再东的日月岛上有一处老戏台，经常有河北梆子等北方经典剧种的演出。
            古镇最东端的镇远镖局则是古老镖局的原貌复原，可以了解押镖文化。而且镖局门口还有一处露天温泉池，走累的游客不妨在此泡泡脚放松一下。

            逛逛特色小店

            除了景点外，古镇内很多特色的小店也是游客逛街时游玩的重点，店铺在镇区一进门的西侧比较集中，有风筝店、年画店、皮影戏馆、茶叶店等很多古色古香的店面，可以随意的逛逛。在古镇东边则是咖啡厅和茶馆儿等店面比较多，下午时不妨找一家沿河的馆子坐上半天放松一下。
            古北水镇里的美食也有很多，主要也集中在古镇东边。这里有披萨店、牛排店、糖水店和清真餐厅等外地风格餐厅，也有特色的古镇美食，如古镇东边鸳鸯湖码头旁的烧肉馆、烧饼铺等，可以吃到古镇特色的密云烧肉，价格虽然略高，但是并不离谱，一定要去尝尝。

            登司马台长城

            另外，古镇西端是与司马台长城景区相连的，已购买古北水镇门票的游客可以免预约购票进入司马台长城。在游玩古镇之后不妨去爬爬长城，体会司马台长城的险峻秀美。

            冬天来泡温泉

            冬天游玩这座北方的小镇时，还可以体验一下这里的特色温泉，古北水镇号称是一座温泉小镇，有采自附近地下的天然地热温泉。镇里的几家客栈大多配有环境不错的温泉池，其中段家大院、御舍温泉等比较著名，也对非住店客人开放售票，可以根据个人兴趣选择。

            住宿指南

            很多游客游玩古北水镇都想在当地住宿一晚，有住在古镇内和古镇外两种选择（古镇门票为一次性使用，住在古镇外即指出景区）。
            古镇内现在有几家酒店和精品民宿，条件很好，而且环境古色古香。不过住在古镇内价格也很贵，民宿里的一般房间大约600-800元左右，酒店的标间则超过千元，另外还有景观房、套房等高档房型，可以根据个人喜好选择。
            住在古镇外则价格会便宜很多，古镇东侧的司马台长城脚下，有很多农家民宿，这里条件也还不错，一般房间价格约在150元左右。
    =
{% endblock %}