{% extends  'JingQu/models.html' %}
{% block content %}

            幸福梅林，成都市新农村建设"五朵金花"之一，国家4A风景区。幸福梅林位于成都市成龙路西段。“幸福梅林”因所处的幸福村而得名。幸福村名字起源于优美的民间传说，相传在很久很久以前，在一个没有名字的村庄中，村民过着安居乐业的生活。村中有一位非常美丽善良的姑娘梅，梅非常喜欢梅花，家中的院内、院外种满了各种梅花树，每当梅花盛开的季节，梅花的幽香据说可以传到十里之外。有一年，许多村民都得了一种疾病，并且发病的人越来越多，
            为寻找医治这种疾病的方子，“梅”爬山涉水走过了一个个小山村，后来终于找到了一个能医治此病的老妖，但老妖要梅子献出自己的心才肯医治村民。为救村民梅用老妖的尖刀挖出了自己的心脏。老妖受到感动，到村中对生病的村民一一进行医治，使村民全部恢复了健康。为了纪念这位美丽善良的姑娘牺牲自己给大家带来幸福的生活，村民们在村中栽满了姑娘喜欢的梅花树，栽种梅花的传统就世代相传下来，如今在村中还可看到生长良好的高龄梅花树。
            由于梅花又叫“幸福之花”、“五福花”，她也是快乐、健康、幸福、顺利、和平的象征，此后村名就命名为幸福村。

{% endblock %}