{% extends  'JingQu/models.html' %}
{% block content %}

            杭州动物园位于虎跑路40号，原址在钱王祠。临近虎跑梦泉、六和塔，北接少儿公园（满陇桂雨），与玉皇飞云遥遥相对，是一个山林式动物园。

            园内设有大象馆、大熊猫馆、长颈鹿馆、两栖爬虫馆、杂技馆等20余个场馆，其中熊猫馆内两只大熊猫，名叫成就、双好；杂技馆内每天都会有10多场驯象、驯虎、驯狮等精彩表演，每场表演时间约30-40分钟。

            进园后，有两条路可以游览，一般可选择游人较少的线路，可方便看动物和拍照。园内面积不大，但风景不错，路两边树木成荫，可以一边看动物一边欣赏风景，走走停停，游览下来也需要2-3小时，如果走的慢一点的需要3-4小时。

            除了看动物外，园内还有一个小火车乐园和旋转章鱼给小朋友玩耍，但需另收费，很便宜的，每次几块钱。园内每隔一段距离都设有小商店，有一些水、饮料、泡面等零食，不过价格比较贵，建议还是自带一些零食比较划算。其中珍禽商店有快餐、面食、砂锅等提供，实在饿了可以在这里吃饭。

{% endblock %}