{% extends  'JingQu/models.html' %}
{% block content %}

            浙西大峡谷位于杭州西部的临安市境内，是浙西北有名的山水景区。这里群山叠嶂，一江碧水穿流峡谷之中，湍急河段还能体验皮筏漂流。大峡谷内森林密布，可赏奇峰飞瀑，还能看到高空走钢丝、竹竿舞等精彩表演。

            景区目前分为四大游览区域，剑门关和白马崖是主要游览区。剑门关的皮筏漂流相当受欢迎，你可以乘坐船工驾的筏子、也可以尝试自己驾筏体验加倍的刺激，或是沿着江水行走于2公里长的步道穿越峡谷、体验徒步乐趣，有时还能看到令人惊心的高空走钢丝表演。白马崖则随处可见瀑布、溪涧、崖石等景观，山不太高，是登高洗肺的好去处，若是爬累了，也可以乘坐缆车下去。

            柘林瀑是规模较小的游览区，这里可看到秀美的炎生瀑和龙门瀑，夏日的雨后尤能感受这里的清凉。老碓溪游览区则展示着水车、老油车等农耕文化景观，还能看到少数民族的竹竿舞等活动。

            浙西大峡谷附近还有浙西天池、大明山、柳溪江漂流等景点，一般可安排2-3天时间游玩这一带。

            关于行程
            按距离景区门楼的由近至远，依次是剑门关、柘林瀑、老碓溪、白马崖，各游览区域之间约相距3-4公里，有景区交通（中巴车）可接驳。18省道纵向穿过景区，景区内有村镇和当地居民。

            游览整个景区的顺序通常没有特别的讲究，但因等待景区中巴的时间有时较长，因此可把游玩重点放在白马崖和剑门关。而柘林瀑比较小，不需半小时就能看完；老碓溪也不必要花太多时间。

            餐饮和购物
            景区门楼、以及景区内的龙井桥乡等处有不少当地人开的农家菜馆，价格不算贵，他们通常也提供住宿服务，一般人均在70-100元之间（早、晚两餐加住宿）。

            景区门楼以及各个游览区的检票处，都有不少小卖部以及卖特产的摊点。当地的核桃、板栗、笋干、霉干菜等特产不错，可以带一些回去，另还有茶叶、竹制品等也可以买一点。

{% endblock %}