{% extends  'JingQu/models.html' %}
{% block content %}

            明孝陵在钟山风景区内，是明太祖朱元璋与马皇后的陵墓，陵墓宏伟壮观，代表了明初建筑和石刻艺术的成就，也直接影响了明清两代帝王陵寝的形制。

            墓区分布
            墓区总体布局分为两部分，一是蜿蜒曲折的陵墓神道，二是陵寝主体建筑，即朱元璋葬地。明孝陵寝主体建筑包括文武方门（即正门）、享殿、方城、明楼、宝顶（即崇丘），皆按传统的中轴线配制，并筑有围墙。明孝陵“前朝后寝、前方后圆”的陵宫布局设计和方城明楼、宝城宝顶等建筑形式，开创了中国明清帝王陵寝建设规制的先河，被誉为中国帝陵发展史上的一座里程碑。

            神道
            神道是从下马坊至明孝陵正门，长达2400米，曲折幽深，一改中国传统帝陵神道笔直的格局。神道又分为石象路与翁仲路两段，两边的石雕是一大亮点，分别立有高大的石兽12对和文臣、武将各2对。石雕由整块石料雕凿而成，造型简朴、图案清晰、工艺精湛。每到秋季，这里的银杏和红枫也是一景，吸引着大批热爱摄影的游客。

            享殿
            享殿也叫孝陵殿，本来是供奉朱元璋和马皇后神位之处，原殿已毁，尚存3层须弥座台基、6块浮雕云龙山水大陛石。现在这里是明孝陵史料陈列室。

            方城
            方城是孝陵宝顶前面的一座巨大建筑，外部用大条石建成，底部为须弥座。而明楼就在方城之上，原本的黄瓦大屋顶已毁，后来进行了修复。沿着方城左右两侧的步道即可登上明楼。

            宝顶
            方城以北则是直经约400米的宝顶，也称宝城，是朱元璋和马皇后的寝宫所在地。从方城前正中的拱门进去，里面是圆拱形隧道，爬54级台阶走出隧道，外面就是宝顶南墙，墙上有后人刻的“此山明太祖之墓”，到这里就不能再往前了。宝顶下面是朱元璋墓的地宫，没有进行挖掘。

            梅花园和樱花园
            梅花山在明孝陵正南边，遍植梅花，山下有梅花谷，共13000余株梅树。梅花山上还可以看到孙权墓。神道石象路附近有樱花园，每到3月底4月初来此赏樱的游客络绎不绝。红楼文艺苑是一处体现红楼文化和浓郁江南风格的园林景观。而北边的紫霞湖则是避暑纳凉的佳地。

{% endblock %}