{% extends  'JingQu/models.html' %}
{% block content %}

            中山陵是孙中山的陵墓，位于南京东郊的钟山风景区内，东毗灵谷寺，西邻明孝陵。整个建筑群依山势而建，由南往北排列在一条中轴线上，墓地全局呈“警钟”形图案，被誉为“中国近代建筑史上的第一陵”。

            中山陵的整体分布
            中山陵包括博爱坊、墓道、陵门、碑亭、祭堂和墓室等建筑。陵墓入口广场有高大的花岗岩牌坊，上面是孙中山手书的“博爱”两个金字。往北走过博爱坊，就是近400米长的墓道，共有392级石阶，落差73米。沿墓道前行到达陵门，顶上是青色的琉璃瓦，门额上写着“天下为公”四个大字。再进为碑亭，继续向前直到祭堂。

            台阶
            到达中山陵顶需要爬长长的台阶，每过一段台阶会有一块平台以便歇脚。这里有一个设计上的视觉手法，使你自下而上看时，只见台阶不见平台，自上而下看时，只见平台不见台阶，你不妨留心一观。在第五个平台上有两个大鼎，其中一个鼎壁上还留有日军侵华时造成的炮弹孔。

            祭堂
            山顶最高峰上便是中山陵的主体建筑——祭堂，为仿宫殿式的建筑。三座拱门上分别刻有“民主”、“民权”、“民生”，中门顶上嵌有“天地正气”竖额。祭堂中央是由白色大理石雕刻的孙中山坐像，底座镌刻六幅浮雕，为孙中山从事革命活动的写照。祭堂东西护壁上有孙中山遗著《国民政府建国大纲》。

            墓室
            祭堂内有两重铜制墓门，门内则为圆形墓室，中央是长形墓穴，上面是孙中山汉白玉卧像，下面安葬着孙中山的遗体。不过现在墓室已经不对外开放了。

            陵墓周边
            在陵墓建筑群外，还环绕着音乐台、光化亭、流徽榭、仰止亭、中山书院、藏经楼（即孙中山纪念馆）、行健亭等纪念性建筑，均为建筑名家杰作，很有艺术价值，你可以顺道观赏。

{% endblock %}