{% extends  'JingQu/models.html' %}
{% block content %}

            庐山位于九江市南36公里，它的风光或许不如五岳奇险，但人文底蕴丰富。历代文人墨客留下了不少赞美庐山的佳句，尤其是苏轼那句“不识庐山真面目，只缘身在此山中”，让人充满向往。如今庐山已是一处很成熟的旅游景区，山中的青山绿水、飞瀑、日出，还有近代别墅，引得不少游人来此一窥“庐山真面目”。

            通常会先坐车到九江，转巴士去庐山，大约1小时。中途会在庐山大门停下来，游客在此购买大门票，而后继续往上到达牯岭。牯岭镇是庐山的旅游集散地，住宿、餐饮、购物等问题都可以在此解决，价格和山下差不多。这里也是庐山观光车的总站，由此出发步行或乘车去各个景点很方便。

            庐山的主要景点集中在山的西北侧和东南侧，一般会安排两三天游玩，时间紧也可以用一天游玩几个主要景点。西线集合了庐山的精华，碧波荡漾的如琴湖、《庐山恋》的取景地花径、锦绣谷等等。这边景点集中，用时短也比较轻松，是许多一日游旅游团的选择。东线景点相距较远，以壮丽取胜。除了登含鄱口、爬五老峰、下三叠泉，还有美庐、庐山会议旧址等老别墅值得一逛，也比较耗费体力。

            游玩以步行为主，景区内有观光车线路往返于各主要景点。全程徒步的体力消耗还是挺大的，推荐观光车和步行结合的方式。这样你也不用担心不知道怎么安排路线，跟着观光车线路走就是了。

            刚到庐山一般会转转牯岭附近的西线景点，从牯岭街的街心公园出发沿大林路往西走，不久可到如琴湖，在湖边的栈道散散步感觉不错，亭子和绿色植物很适合拍照。如琴湖附近的花径因诗人那句“人间四月芳菲尽，山寺桃花始盛开”出名，小公园里面有座白居易草堂，颇有人文气息，春天景色非常好。继续往前是锦绣谷，从天桥入口进入，顺着窄窄的山路走到仙人洞出，大概1-2小时就可以走完。

            到了仙人洞停车场，再往前依次是大天池、龙首崖、石门涧（需另购票），由于一天全部走完比较耗时耗力，因此，大多数人会选择单独安排一天游玩，或者直接舍弃它们，从仙人洞至乘游览车到芦林湖，而后经庐山博物馆、庐山会议旧址，回到牯岭街心花园。此时差不多正好是晚饭时间，晚饭后，不妨去镇上的庐山恋电影院看一场1980年版的《庐山恋》，感受一下那个年代的内敛和温馨。有趣的是，由于这家电影院每天只播这一部电影，还创下了吉尼斯世界纪录。

            第二天安排东线游览，这边的山路走起来比较耗费体力，建议穿舒适的鞋子。一早先坐旅游车上含鄱口，这里的日出很有名，天气好的时候可以遥望鄱阳湖、五老峰。不过，庐山上常年大雾弥漫，遇到晴天不容易。而山上含鄱亭等拍照的好位置都被人占据了，需要付费。也有不少人人由此坐缆车去看大口瀑布。

            含鄱口去五老峰不算远，但爬五老峰还是挺耗体力的，一根登山杖会让你省力不少。由第一峰爬到第四峰返回，大约1.5-2小时。继续乘车前往三叠泉，看它李白描述的“飞流直下三千尺，疑是银河落九天”那种气势。三叠泉内有一段观景缆车可以看景。

{% endblock %}