{% extends  'JingQu/models.html' %}
{% block content %}

            上海城隍庙坐落于上海市中心的城隍庙旅游区，也叫老城隍庙，是上海有名的道教宫观。来城隍庙旅游的游客，大多是慕这里的小吃和豫园之名而来，却不知道豫园的南面还有一座闹中取静的道观，而且是个历史悠久的祈福胜地。在大饱口福后，不妨来这里看看，感受一下本地宗教文化。

            上海城隍庙始建于明代永乐年间（1403-1424年），比豫园还早一些，但在“文革”时期遭到严重破坏，后经修复重新恢复了全貌。观内现有大殿、甲子殿、财神殿、慈航殿、城隍殿、娘娘殿、父母殿、关圣殿、文昌殿九个殿堂。大殿正门上悬“城隍庙”匾额，内供奉金山神主汉代博陆侯霍光大将军坐像，左首为文判官，右首为武判官，次为日巡与夜查，日巡、夜查以下为八皂隶。

            元辰殿又称六十甲子殿，殿内供奉六十元辰中所对应的太岁神，信徒在这个殿里礼拜本命太岁，祈求年年平安，吉祥如意。慈航殿内供奉眼母娘娘、慈航大士、天后娘娘；财神殿内供奉财神、招财仙官、进宝仙官、利市仙官、纳珍仙官；文昌殿内供奉文昌帝君，左右二童子称天聋、地哑。

            关圣殿内供关圣帝君（关公），左右供周仓、关平二位将军。城隍殿东首为父母殿，殿内供奉上海县城隍神父母；城隍殿西面为娘娘殿，供奉上海县城隍神夫人储氏；城隍庙内最后一进殿为城隍殿，城隍殿中央供奉上海县城隍神红脸木雕像，正襟危坐，殿内仿照明代县衙公堂陈设，仪仗森严。

{% endblock %}