{% extends  'JingQu/models.html' %}
{% block content %}

            南澳岛位于广东省和福建省交界的海域上，是广东省唯一的海岛县。

            南澳岛的山水景致浑然天成，因为开发的比较少，人工修饰少，所以设施其实不太好，没有什么星级度假酒店，也没几家海鲜餐馆，晚上还没什么照明设备。但是也因此环境保护的不错，许多山石草木依然保留着最原始的面貌，海滩风景也显得不错。（但是由于南澳跨海大桥的建设，岛上的发展越来越快，之后不好说）除外岛上还有点历史遗迹，若只是来体验海滩风景，南澳岛还是很不错，没什么特别噪杂的环境，海滩也比较干净，吃吃海鲜，度个假。

            岛上的主要景点有金银岛、青澳湾、黄花山国家森林公园、南澳总兵府、宋井和叠石岩。

            在黄花山国家森林公园可以爬爬山，爬到山顶看海景，山下有几个石乌龟。南澳总兵府和宋井都是历史遗迹，前者是明朝初建的，然后1983年重新又修建而成的总兵府，对历史有兴趣的可以看看，有一枚大炮可看。后者顾名思义，就是宋代就开掘的井，历史悠久。叠石岩是一块奇石，外形很有特色，两块巨石巍然相叠的样子。
            南澳岛并不大，在岛上骑自行车、电动车、摩托车或者租车、自驾都可到达各个景点，还有环岛旅游线路公交车可以乘坐。

            关于住宿和餐饮
            南澳岛的主要住宿区域集中在虾尾湾和青澳湾区域，总的来说，环境很一般，没有什么高档酒店。虾尾湾位于岛的东南部，近客车站和景点宋井，宾馆以民宿为主，吃海鲜的话住这里比较好，房价在100元左右；青澳湾位于南澳岛西南侧，长山尾码头在这附近内，等于如果坐轮渡过来，本身是在青澳湾附近的。看海景的话住这里比较好，宾馆的海景房很不错，房价从100元至200元不等。

            岛上的饭店多为海鲜大排档，毕竟海岛嘛，海鲜非常丰富，而且新鲜，人均价格在50-100左右。

{% endblock %}