{% extends  'JingQu/models.html' %}
{% block content %}

            莲花山公园内覆盖着大量热带、亚热带植物，堪称一处天然氧吧，这里有山有树有湖，很适合休憩、散步、运动、爬山，是一家人郊游的好去处。在山顶公园还能瞻仰邓小平铜像，了解深圳特区的发展历程。

            公园位于深圳市中心区的最北端，南临红荔路，北到莲花路，东起彩田路，西至新洲路。公园四面都有入口，其中南面是主入口。

            特别值得一提的是公园东南部的风筝广场，这里有两大片草坪，每到周末、节假日，都会聚集不少市民、游客来这儿放风筝，已经成了深圳的一大人文景观。公园小店有风筝出售，天气合适不妨体验一下放风筝，重温儿时的乐趣。

            莲花山也是深圳登山的热选之地，由于海拔不高，远不如梧桐山雄伟难走，登莲花山反而是种休闲享受。公园西北部及北部有多条林荫登山道，主峰南坡也有两条登山步行道直达山顶广场。穿行在山中小径之间，既可以享受登山的乐趣，又不会太过疲惫，爬上去大概只要20分钟，非常轻松。站在山顶广场，俯视福田中心区鳞次节比的都市建筑群，像一幅全景画。而如果是晚上来登山，则可以俯瞰城市夜景，别有一番风味。

            除了登高望远，山顶广场另一个不可错过的点是邓小平铜像，颇有气势。很多游客来到这里就是为了瞻仰这尊铜像，并与之合影留念。在广场北侧的城市规划展览厅，记录着深圳改革开放以来的发展历程，感兴趣的话可以进去参观（免费开放）。

            莲花山公园交通十分便利，公园南门附近的关山月美术馆、周边的深圳会展中心，时常有不错的展览，可一并游玩。

{% endblock %}