{% extends  'JingQu/models.html' %}
{% block content %}

            锦绣中华民俗村由锦绣中华和中华民俗村两部分组成，前者有众多中国知名景观的缩影，让你“一日畅游中国”。后者有二十四个村寨的建筑可以体验民俗风情，还可以看五十六个民族的民俗表演。

            两个园区已经合并，购买一张门票即可。一般建议先上午游玩锦绣中华，下午玩民俗村，因为民俗村的大型表演时间都在下午。

            如果想要半天快速浏览，也可以考虑步行和电瓶车结合。班车形式固定，锦绣中华停靠点为孔庙，民俗村停靠点为摩梭寨，整个景区浏览一遍约25分钟。停靠时间为2分钟。

            锦绣中华

            主要看微缩景区及拍照，近百处按1:15的比例缩小的中国景点，堪称是中国自然风光与人文历史精华的集合。迷你版的长城、秦兵马俑、敦煌莫高窟、黄果树瀑布等名胜都可在此尽收眼底，因而有“一天游遍中华”之说。

            中华民俗村

            可以领略到中华56个民族所交织出的别样风情，你可以看到缤纷的少数民族服装、二十四个村寨的建筑风格以及各式民俗表演，令人目不暇接。

            其24个村寨全部按照１比１的比例修建，给人以身临其境的感觉，少数民族的村寨建筑风格更是独特，布依族的石头寨、摩梭人的木楞房、傣族的竹楼、蒙古族的蒙古包，藏族的喇嘛寺等，人们不时拍下一张张照片。

{% endblock %}