{% extends  'JingQu/models.html' %}
{% block content %}

            泰山自古以来便是我国最著名的山峰之一，有五岳之首的美誉。泰山风景以壮丽著称，山峰陡峭高耸，十分壮观，在山顶观看日出、晚霞等也十分绮丽。山间经常有云海出现，而冬天时则常有雾凇奇观，非常漂亮。除了自然风光外，山上还有众多的古迹、石刻和宗教庙宇，人文景观也非常丰富。

            春天时可以看到山间的桃花和梨花，夏天山顶翠绿，而且由于山顶凉爽还是著名的避暑胜地，而秋天山间的树叶红黄相间层林尽染，十分漂亮。另外，冬天时山顶常有雾凇，而且此时人少，也可以做好御寒准备后前来观看。

            泰山风景区面积很大，纵深约有几十公里。上山有几条登山步道，还有公路和索道纵横其间，可以结合徒步、乘坐旅游车、乘索道等方式游览。泰山风景区共有四个入口，分别为红门、天外村、天烛峰和桃花峪，每个入口均有一条路线通往山顶区域的岱顶旅游区。红门、天外村位于前山，一般常规的游览路线为红门或天外村上山，当天或第二天再从其他路线下山，为不走回头路，大多会从桃花峪处下山，天烛峰因距离远且道路难行，多为户外背包客路线。

            红门入口的登山步道是秦始皇封禅时开通的步道，也是大部分游客登泰山的首选路线，这条路线主要是石阶路，需要步行从红门到中天门，徒步约需3小时，一路经过万仙楼、斗母宫、四槐树、回马岭、壶天阁等众多景点，也是泰山上众多石刻最为集中的地带。到达中天门后可以选择乘坐缆车或步行前往南天门及山顶区域，步行大约需要2-3小时，一路可以看到十八盘、升仙坊、对松山、朝阳洞、五大夫松等多个景点。

            天外村游览路线则是一条从天外村通往中天门的公路，可以乘坐旅游车前往，途径黑龙潭、扇子崖、冯玉祥墓等景点，到达中天门后路线即与红门路线后半段相同，是体力不足不想步行爬山游客上山的首选。

            天烛峰路线是泰山最为险峻的登山步道，游人很少，是户外爱好者们经常徒步的地带，爬山大约需要半天，这条路线山色俏丽，有鲤鱼背等景点，起点处还有《中华泰山·封禅大典》的表演。

            桃花峪路线是很多游客下山时的选择，从山顶的天街有索道到达半山腰的桃花源索道起点，然后旅游车从索道起点到山下的桃花峪。这条路线主要的景致便是桃花峪彩石溪景区，石块多有彩色纹路十分神奇，有兴趣的可以前去参观。

            这四条路线通向的都是山顶的岱顶旅游区。岱顶上有泰山的主峰玉皇顶（著名的五岳独尊碑即在这里），有神奇的天上街道天街景区，还有日观峰、月观峰、大观峰、瞻鲁台、碧霞祠、孔子庙等多个景点，可以一一步行参观。山顶可以远眺黄河，看“黄河金带”奇观，山后的后石坞景区也可以前去观看，内有索道可从后石坞通向北天门。

            餐饮信息

            一般游览泰山的时间多为1-2天，期间可以在山上住宿一晚。在天街和南天门附近有多家客栈宾馆可以住宿，此处的条件比较差且价格较贵，但是看日出、晚霞和山顶的星空最为方便，天气好的夜晚在山上还可以看到市区的灯光，拍出星空与城市灯火并存的好照片。山顶还可以露营，夏季时会比较合适。另外山下的入口处也有很多住宿地点，对比山顶价格便宜，住宿条件也会相对好一些。

            在泰山上用餐购物比较方便，不过价格都比山下贵一些，吃顿简餐还是可以接受的。如果体力允许也可以带一些干粮上山。

            夜爬泰山

            很多观看日出的游客会选择夜爬泰山，晚上十一点左右出发为宜。夜爬泰山最好选择红门路线，这条路上晚上会有很多人，而且一路都会有灯光，比较安全。大约早上日出前刚好可以到达山顶的日观台或玉皇顶，在这里观看日出最为合适。 </p>
{% endblock %}