{% extends  'JingQu/models.html' %}
{% block content %}

            五台山位于忻州市五台县境内，五座顶如平台的山峰相簇拥，风光秀美，是著名的避暑胜地。此外，这里也是文殊菩萨的道场，寺院林立，位列中国佛教四大名山之首。由于是中国唯一的黄庙（藏传）青庙（汉传）共存的道场，在五台山不仅能看到汉传的僧人，也能看到藏传的喇嘛。

            如果把五根手指看作耸立的“五台”，那么掌心处便是台怀镇。台怀镇是五台山景区的地理中心和食宿大本营，绝大多数寺庙也都集中在这里，是游客的必到之处。游玩五台山一般吃住在台怀镇，行程三天最合适，时间不赶，也基本可以把主要的寺庙都看完。来到五台山必做两件事，一是去各大寺院礼佛祈福，二是朝拜五台（大朝台），推荐其中两天去寺庙礼佛祈福，一天朝台。

            第一天可在镇中心游玩，顺便也熟悉五台山的环境。台怀镇比较精华的寺庙群集中在镇子的西北，可步行或者坐景区环保车游览。早上首先去五台山香火最旺的五爷庙（万佛阁）上香，接着可依次去塔院寺看五台山的标志——大白塔、罗睺寺最古老的石狮子、全山规模最大历史最悠久青庙显通寺、等级最高的黄教寺院菩萨顶。

            第二天可乘环保车游玩周边较远的地方。早上沿着镇街一直向北，过清水河就来到黛螺顶脚下，可登上大智路的1080个台阶，朝拜5尊文殊菩萨像（小朝台），也可乘索道往返（单程50元，往返80元）。接着一路往南，在最大的十方禅寺碧山寺看缅甸玉佛和弥勒下生塑像，去殊像寺参拜五台最高的彩塑文殊像，最后前往南山寺，看琳琅满目的石雕，远眺南、北、中三台的景色。如果时间充裕，还可以去当年顺治皇帝出家的镇海寺，看长胡子的观音像和精美的清代彩绘故事壁画。

            五台山上寺院很多，除了以上主要的寺院之外，还有南禅寺、龙泉寺、广宗寺、白云寺等寺院，各有特色，可根据个人喜好来选择。

            逛过主要寺庙，第三天则可在“五台”中选几台登顶，五台之中，东台望海峰是看日出的绝佳之处，云海日出非常壮观，山上没有住宿，看日出需早起；南台路最难走，风景也最好，尤其夏季野花遍地，非常好看；西台每到秋日，月亮有如镜子悬在峰顶；北台是五台山最高峰，是观雪景的最佳地方，农历八月起这里就开始下雪，俯瞰群山一派北国风光；中台是看气象的好地方，尤其夏季时晴时雨，十分特别。

            由于自驾车辆不可进入景区，登顶五台只能坐景区登台巴士或者在景区包车前往。环五台的路线通常为：鸿门岩-东台-鸿门岩-北台-中台-西台-吉祥寺-狮子窝-金阁寺-西山门-南台-古南台-佛母洞。 </p>
{% endblock %}