{% extends  'JingQu/models.html' %}
{% block content %}

            武陵源风景区位于湖南省西北部，国家5A级旅游景区，隶属张家界市武陵源区，由张家界国家森林公园和国家地质公园、索溪峪、天子山、杨家界四部分组成，总面积三百六十九平方公里，其中，中心景区面积二百六十四平方公里，这里的风景天然来雕饰，名木古树、奇山异水、层峦叠嶂、素来以峰、谷、水、林、洞著称。

            武陵源景区内有国内外少见的石英砂岩峰林，被誉为“奇峰三千”，这些峰林造型奇异，仿若仙人、抑或飞禽走兽，变幻万千，连绵万顷。而武陵源的水又被誉为“秀水八百”，瀑布、溪水、清泉、深潭无一不奇妙多姿，沿着很有名的金鞭溪一直走到索溪峪，两岸竟是迷人的风景，奇峰异石倒映水面，独有一番风味。

            武陵源景区一年四季景色各不相同，朝、暮、阴、晴景象万千，犹如蓬莱仙境，琼楼玉宇，蔚为壮观。行走其间，欣赏那变幻的云海，茂密的峰林、让人不禁感叹大自然的雄伟神奇。有人说武陵源美在神秘、美在天然，此话一点不假。山水田园之间充满神秘的自然美景，梯田、房屋点缀在山林之间，与这大山浑然一体，犹如一幅绝美的画卷。

{% endblock %}