{% extends  'JingQu/models.html' %}
{% block content %}

            金石滩度假区位于大连市区东北部，这里三面环海、风光优美，每年5-10月是最佳旅游季。这里景点众多，可以来发现王国主题公园疯玩一天，或是去滨海国家地质公园欣赏奇石，也可以带着孩子去黄金海岸的沙滩上走走。

            从大连火车站北广场乘坐快轨三号线，约五十分钟就可到这片大连的后花园。从快轨车站出来，可至旁边的游客服务中心购票，度假区内的各个景点都可以单独售票，如果你想去多个景点，也可以购买套票，比分开买便宜不少。轻轨站旁则可以乘坐观光环线车到达各个景点，可凭票无限次乘坐。

            发现王国主题公园离轻轨站不远，可从游客服务中心乘坐专线车直达公园正门。发现王国是东北地区著名的主题公园，有很多大型游乐设施，其中“疯狂眼镜蛇过山车”和“天地旋转过山车”非常惊险刺激，值得体验。在发现王国游玩基本需花上一天时间。

            发现王国主题公园的南面就是黄金海岸，这是片延绵5公里的沙滩，视野很开阔，而这里的海水清澈度和沙质都比市区的海滩更胜一筹。从游客服务中心可乘坐观光小火车至黄金海岸东岸。

            滨海国家地质公园位于金石滩度假区东南端，是摄影胜地。在这里你可以欣赏到各种数亿年前的岩石沉积和大量古生物化石形成的奇特巨石，它们伫立在海边，有的形似石猴观海、有的像大鹏展翅乘坐观光环线车可到公园。公园里徒步路段较多，要注意台阶和陡坡。

            以上几个是度假区最值得一游的景点。此外，金石滩度假区内还有金石世界名人蜡像馆、金石滩地质博物馆、生命奥秘博物馆、影视艺术中心（徐悲鸿艺术馆）等景点，大多都集中在轻轨站附近，如果购买了套票且时间充裕，可以去逛逛。

            轻轨站周边以及轻轨站往东一公里处的街道城区都有很多旅馆酒店、以及各种餐馆，这里的消费跟市区差得不多，当地有短线公交车，出行也都比较方便。金石滩度假区还建有唐风温泉、飞行体验中心、金湾高尔夫球场、金石高尔夫球场、金石狩猎俱乐部等各种休闲之所，如果假期充裕，倒是很适合在度假区小住几日。

{% endblock %}