{% extends  'JingQu/models.html' %}
{% block content %}

            天下第一城位于廊坊香河县安平开发区，距离北京市中心车程约60公里，天津市中心的车程约100公里，是一处访古的园林景区。说是景区，这里更像是一个规模巨大的度假村，有酒店、游泳馆、剧场、高尔夫球场、洗浴康乐中心、KTV等多种度假设施，很多游客周末时会来此休闲度假。

            景区的面积很大，长宽都约1.5公里左右，景区内有众多的仿古建筑，还有湖泊、荷塘等，还有前门、圆明园等知名建筑的微缩版，古色古香，很像一座明清时期的皇家园林，观景、拍照十分合适，尤其是夏季荷花开放时，更是赏花的好地方。同时这里也是清代剧《铁齿铜牙纪晓岚》的拍摄地，可以在这里寻找熟悉的场景。除了园林景观外，景区里还有安平寺、陶瓷博物馆等包含在门票内的景点，可以前去参观。若要用餐，可以到景区内的小吃一条街，不过价格会比外面稍贵。

            景区内有一座大酒店，还有很多付费的娱乐场所，若是周末度假，可以在此住宿一晚，观看演出，在高尔夫球场、游泳馆等处放松娱乐，享受悠闲假日。

{% endblock %}