{% extends  'JingQu/models.html' %}
{% block content %}

            长城岭滑雪场----运动员高原训练基地，位于张家口市崇礼县境内，占地面积15.3平方公里，海拔1800-2100米。年平均气温3.3℃，夏季最高气温不超过20℃，冬季最低气温不低于零下23℃，降雪量大（积雪超过一米），雪期长（达150天），风力小，雪质好，地形陡缓适中，地下水资源丰富。

            该滑雪场由国家体育总局和河北省体育局投资，建设高标准、综合配套的河北高原训练基地和大型滑雪场。项目总投资5000万元，已完成投资1000万元，用于雪具大厅、雪道、索道等建设工程。一期建成有初、中、高级滑雪道4条，总面积16万平方米，最高海拔为2100米，垂直落地差为380米，其中1号雪道300米，平均坡度6度；2号雪道1000米，平均坡度14度；3号雪道750米，平均坡度13度；4号雪道1600米，平均坡度20度。配备进口雪具1200套，其中世界名牌沃克滑雪板500套，双人吊椅索道2条，大拖牵索道1条，加拿大进口造雪机3台，雪地摩托5辆及雪上飞碟100个，德国进口压雪车一辆，1000平方米的雪具出租大厅配置先进的电子收费管理系统，800平方米观赏性快餐厅可容纳500人同时就餐，50间标准客房可为您提供住宿服务。

{% endblock %}