{% extends  'JingQu/models.html' %}
{% block content %}

            太舞滑雪场坐落于崇礼最高山峰玉石梁，海拔2160米，雪场一期最高山体落差达510米，是崇礼地区落差最大的滑雪场。2012年由北京瑞意集团投资建设，并由五届冬奥会场地设计团队“加拿大ECOSIGN公司”亲自操刀设计，并从法国、美国、意大利引进先进的索道、造雪系统、压雪机等设备倾力打造世界级滑雪胜地。

            太舞小镇内规划开发近200条雪道，初、中、高级雪道占比达到国际标准3:4:3，总长度可达69.13公里；同时规划索道45条，魔毯21条，总长度为38.23公里。单条长度接近3000米的4J中级雪道，是符合国际雪联FIS技术要求的单双板追逐场地；可以满足国际雪联FIS技术要求的回转、女子滑降及大回转场地的4H、4B和4C雪道。

            娱雪乐园为了让孩子在滑雪之余玩的更开心、快乐，我们为各位小朋友精心打造了一个“奇妙的王国”——娱雪乐园，造型新奇灵巧，由圆柱、方屋组合而成，直线与曲线的方砖路交错相通。园内有组合滑梯、动物造型滑梯、雪地转盘、电动摇摇车、平花路桩、各种造型的卡通玩偶、大蘑菇屋等。这些游乐设施小巧别致，色彩明快，就让您的宝贝在这片雪域中尽享童趣、快乐吧。

            太舞国际滑雪学校将提供国际水准的滑雪服务，其中30%的教练来自不同滑雪产业国家，他们均拥有国际认证的滑雪教练证。此外，在不同季节，还将为儿童、青少年组织各类冬令营和夏令营。

{% endblock %}