{% extends  'JingQu/models.html' %}
{% block content %}

            吴桥杂技大世界位于世界闻名的杂技之乡吴桥县，是一处以表现杂技艺术为主的主题公园。这里汇集了全国各地经典的古典杂技、杂耍艺术，还有众多吴桥当地杂技艺人的表演，来此可以一一观看，叹服于杂技的魅力之中。另外，景区内的建筑古色古香，很有小古镇的感觉，适合漫步拍照。

            杂技大世界靠近吴桥县城西北侧的吴桥县汽车站，从县城内步行即可到达。杂技大世界的长大约有近1公里，宽三四百米左右，进入后步行游玩即可。景区的大门位于南侧，以中心处的江湖文化城为坐标，基本可以分为城南一条街、江湖文化城和城北区域，可以按顺序一一游玩。景区内的众多表演大多是循环演出，要观看全部演出，大概需要大半天到一天的时间。

            城南一条街即进入大门后到江湖文化城之间的一条街道，这里并没有什么景点，而是一条可以购物的街道。街道两侧遍布着很多特色的小店，售卖的商品也有很多与杂技相关。在这里可以找到很多杂技的道具，一般都附有说明书，可以挑选一点小物件，回去也学上一手。街上也有可以购买零食的小店和一些小餐厅等，游玩前后可以在这里用餐。

            江湖文化城是景区内最重点的区域，这里是古城样子的建筑，城里面复原了老北京天桥、天津三不管、上海大世界和南京夫子庙等历史上著名的杂耍胜地场景。在城内的各个区域，都有很多杂技艺人表演，顶盘子、硬气功、猴戏等古典的杂耍杂技均可以在这里看到。表演有些是按照古时撂地式的露天演出，有些是在专门的区域和房屋内，全都可以免费参观。

            城内比较著名的演出共有八处，被合称为吴桥八大怪。其中最著名的要属著名的“鬼手王”王宝合大师的表演，王宝合出身于杂技世家，他本人曾多次在国宴、中央电视台等地表演，最著名的“三仙归洞”曾让无数人惊叹到目瞪口呆。王宝合大师的表演位于鬼手居处，来此游玩一定不要错过。

            江湖文化城再向北，是景区最后的一个区域，这里有魔术迷幻宫、马戏场和红牡丹宾馆等场所。魔术迷幻宫是一处现代化的魔术剧场，这里可以观看大变活人等大型的现代魔术，马戏场内可以观看马术表演，而红牡丹宾馆里则可以一边用餐一边观看精彩的表演，都可以一一游玩。

{% endblock %}