{% extends  'JingQu/models.html' %}
{% block content %}

            龙庆峡集南方山水的妩媚和北方山水的雄浑于一体，峡谷曲折，河水碧绿，两岸山崖险峻，溶洞、石笋、石柱密布，被誉为北京市的“小漓江”。春夏季节，人们来这里戏水、踏青；冬季，这里则是一片冰灯的海洋。

            夏季避暑胜地

            龙庆峡谷口有一座钢筋混凝土大坝，坝内是个巨型水库。水蓄满时从边孔溢洪道流出，飞流直下，形成壮观的瀑布。谷内风光秀美，山崖上布满造型奇特的石灰岩，根据形状被命名为镇山如来、石熊跳岩、九连洞、鸡冠山、金刚山、马蹄潭、将军岩等，莫不惟妙惟肖。

            乘坐景区游船，在峡谷里穿行，感受大自然的造化神工。盛夏的龙庆峡，空气清新气候凉爽，平均气温比北京市区低6度左右，是避暑度假的绝佳去处。

            冬季冰灯艺术节

            龙庆峡冬季气候寒冷，结冰期较长，利用这独特的自然条件，龙庆峡景区每年冬季都会举办冰灯艺术节，从1987年至今，龙庆峡冰灯艺术展已经成为北京冬季旅游的传统项目。冰灯展位于两山之间的龙庆峡水坝下，水坝自然垂下的巨大冰瀑是冰灯展绝美的背景。冰灯展期间，山谷中灯火璀璨，千姿百态的冰雕雪雕流光溢彩，极为壮观。

            刺激的游乐项目

            龙庆峡不仅有优美的自然风光，更有与之相配搭的游乐设施。踏入峡谷口，一条258米长的巨龙头下尾上地悬挂于千仞峭壁，须爪飞扬，这其实是号称亚州第一的龙形电梯。乘坐电梯可直接抵达百花洞附近的游船码头。
            景区内还设有惊险刺激的比翼滑道，可从百花洞口高速滑行至湖心的翠岛。在百花洞附近可以乘坐索道，直达半山的神仙院。此外，景区内还设有攀岩场、攀冰基地、蹦极、飞降等惊险刺激的项目，极限运动爱好者也能在这里找到属于自己的那份快乐。

            游玩时间久了也无须担心，景区内吃住游一应俱全。玩累了，你可以在景区内农家乐坐坐，尝尝当地特色的烤全羊、虹鳟鱼等美食。如果一天没玩够，你还可以住在景区内，第二天继续你的欢乐旅程。

{% endblock %}