{% extends  'JingQu/models.html' %}
{% block content %}

            宋城位于杭州西南市郊，是一座大型宋代文化主题乐园。充满宋代风情的仿古茶楼、杂货铺、打铁铺、酒坊等随处可见。街上有木偶戏、皮影戏等表演，还会遇到披甲士兵巡街或是缉拿逃犯，给人一种奇妙的穿越感。

            来了宋城就一定要看《宋城千古情》，通过大型的歌舞秀，你会看到良渚古人的生活、宋朝皇宫的辉煌、岳家军的惨烈以及《梁祝》、《白蛇传》的千古绝唱，体验一回心灵的震撼。景区里还有一些小型情景演出，你可围观“王员外家小姐抛绣球招婿”，去参与抢绣球，幸运的话还可能被招为“乘龙快婿”。

            宋城有各种探奇项目。你可以看到“活着的清明上河图”，欣赏动态的古代画卷，或者在“步步惊心鬼屋”或“聊斋惊魂鬼屋”中试试自己胆子有多大，还可以去“怪街”看看横着或倒着的屋子、去“佛窟”中一探佛教秘境。

            景区内聚集了各地风味小吃，而且是现做现卖，你可以尝到糍粑、仙草糕、龙须糖、炸臭豆腐等各种小吃，还有麻辣粉、砂锅、烧烤等美食，还可以在“正店”、“脚店”等极具宋代特色的饮食店中，品尝到杭州菜以及其他各地菜肴。

{% endblock %}