{% extends  'JingQu/models.html' %}
{% block content %}

            天安门广场位于北京的中轴线上，是共和国的中心广场。天安门城楼、人民大会堂、国家博物馆、人民英雄纪念碑等众多国家象征都坐落于此，各种大型庆典也都在这里举办，每天清晨的升国旗仪式更是吸引无数游客前来瞻仰。

            观看升降旗仪式

            天安门广场升（降）国旗仪式分为节日升旗仪式和平日升旗仪式。

            每年元旦、春节、国际劳动节、国庆节和每月1日实施节日升旗仪式。节日升旗仪式由武警国旗护卫队38人、军乐团62人实施，行进时吹奏《歌唱祖国》，升旗时吹奏《国歌》。其它时间为平日升旗仪式。平日升旗仪式由国旗护卫队38人实施，升旗时播放《国歌》录音。

            降旗仪式由国旗护卫队单独执行，没有音乐。

            天安门广场夜间执行清场制，升旗前大约半小时开放入口，降旗后开始清场，关闭入口（根据季节和实际客流情况，公安部门会进行临时调整）。游客可在升旗前半小时，到广场附近等侯。

            升旗仪式开始前，天安门警方将提前安排民警在各出入口维持秩序，在国家博物馆西门外和人民大会堂东门外群众较多的两处拉上疏导线，并对等候观看升旗的群众进行整队。广场开放时，群众将由民警引导、护送进入广场。

            主要景点

            天安门广场位于天安门正南，广场中央矗立着人民英雄纪念碑和庄严肃穆的毛主席纪念堂，广场西侧是人民大会堂，东侧是中国国家博物馆，南侧是两座有着几百年历史的古城楼——正阳门和前门箭楼，这些雄伟的建筑与天安门一起，构成了现在的天安门广场。

            现在的天安门广场，是共和国举行重大庆典、盛大集会和外事迎宾的重地。从建国至今，天安门广场经历了多次大阅兵，见证了中华民族的崛起和振兴。

{% endblock %}