{% extends  'JingQu/models.html' %}
{% block content %}

            奥林匹克森林公园位于北京中轴延长线的最北端，是亚洲最大的城市绿化景观，比圆明园和颐和园加在一起还要大。奥运会后，这里免费向公众开放。在园内慢跑健身、漫步骑行，或是乘坐游船，荡漾在碧波之上，都很自在。

            游玩概览

            森林公园分南北两园，中间有一座横跨五环路、种满植物的生态桥连接。南园以大型自然山水景观为主，北园则以小型溪涧景观及自然野趣密林为主，是北京城区当之无愧的“绿肺”。森林公园里最著名的景观是“仰山”和“奥海”。除了美景，这里还是当地居民休闲娱乐之地，观景的同时，还可一观北京人的地道生活。

            玩法介绍

            公园面积较大，很多北京市民都会选择周末来这里跑步健身。公园设有3km、5km、10km三种不同的塑胶跑道，你可以根据自己的体力选择。老人可以乘坐观光电瓶车，饱览园中的山水美景。情侣可以租辆双人自行车，在大自然中享受浪漫的二人世界。一家三口可以乘坐游船，泛舟湖上，欣赏着湖中成群的锦鲤，欢度一个愉快的周末。你也可以约上三五好友们，带上帐篷和餐布，躺在草坪上，聊天晒太阳。

{% endblock %}