{% extends  'JingQu/models.html' %}
{% block content %}

            仙湖植物园有着丰富多彩的植物种类、美丽的湖光山色，适合想要放松时走走逛逛。深圳知名寺庙弘法寺就在这里，香火非常旺盛，当地人经常来这里烧香。

            仙湖植物园位于深圳市东北郊，东倚深圳第一高峰梧桐山，西临深圳水库。全园分为天上人间景区、湖区、庙区、沙漠植物区、化石森林景区和松柏杜鹃景区等六大景区

            天上人间景区中，有形态各异的植物花卉，还有妙趣横生的植物八卦迷宫和别有洞天等景点。弘法寺位于庙区，香火很好。湖区主要由仙湖及其四周景点组成。其他三个区域如其名，都分别可以看到相关的植物。

            在景区大门口可以乘大巴。大巴是直接到弘法寺的，当然如果你想要自己走走爬山也可以。选择步行的话，首先是经过一条满是树林的道路，会看到很多不同种类的树，然后经过一个人工湖（有时会看到人在湖边念放生咒，可能由于弘法寺的关系，经常有人来这里放生），过了湖就到弘法寺了。

            弘法寺这里可以换乘景区电瓶车，电动车是环线的，顺序为：弘法寺-湖区-盆景园-沙漠植物区-古生物博物馆-化石森林区-药用植物区-听涛阁-两宜亭-弘法寺，如果体力好的，依旧可以选择步行，也是按照电瓶车的顺序行走的，其中在湖区也就是仙湖这里有脚踏船及电动船可以坐，想要坐船游湖可以选择。

{% endblock %}