{% extends  'JingQu/models.html' %}
{% block content %}

            星海公园位于大连市南部星海湾的中段，紧邻着圣亚海洋世界，是一座大型海滨公园。公园内拥有沙滩浴场以及丰富的游乐设施，不仅是市民的避暑休闲好去处，也是年轻人消遣娱乐的地方，这里惊险的海上蹦极值得体验。

            此处因为海湾水面上露出了一块形状奇特的巨石，叫做“星石”，因此此处被称为星海。星海公园面朝大海，东边比较平缓而西边有几座小丘，景色怡人。公园的海边有几块大石，大石上有著名的美人鱼雕像，也是星海公园内的标志性雕塑。公园内还有多处其他雕塑，每一座都独具特色。

            在公园的西侧海边是海水浴场，浴场免费开放。此处的海滩并非沙滩，而是布满石子。石子经过海水冲刷已经全部变成表面光滑的鹅卵石，踩在上面有种按摩脚底的感觉。浴场边的营业部可以提供游泳圈租赁等服务，不过近几年来由于人多，浴场不算很干净，所以不太推荐在此处下海游泳。

            游乐项目大多集中在公园东侧，那里是一个儿童游乐场，海盗船、旋转木马、碰碰车等多种娱乐项目一应俱全，价格均在几十元左右。在最东边延伸至海面的狭长半岛尽头则是星海公园最为著名的游乐项目：海上蹦极。此蹦极高约55米，下面即是海面，可以给人无与伦比的刺激之感。

{% endblock %}