{% extends  'JingQu/models.html' %}
{% block content %}

            颐和园原是清朝帝王的行宫和花园，又称清漪园，以昆明湖、万寿山为基址，按照江南园林的设计手法建造，是我国现存规模非常大，保存非常完整的皇家园林，景色极具优雅，还有很多珍贵的文物，被誉为“皇家园林博物馆”。

            区域概览

            颐和园规模宏大，全园可分3个区域：以仁寿殿为中心的政治活动区；以玉澜堂、乐寿堂为主体的帝后生活区；以长廊沿线、后山、西区为主的苑园游览区。整个园区约四分之三为昆明湖所占据，湖畔有亭、台、楼、阁、廊、榭等建筑物百余座三千余间，其中佛香阁、长廊、石舫、苏州街、十七孔桥等皆为家喻户晓的代表性建筑，也是游览颐和园不可错过的地方。

            泛舟昆明湖

            游览颐和园，除了参观金碧辉煌的殿堂建筑，乘坐景区内的游船，泛舟昆明湖上，既轻松惬意，又不误观光赏景。园内有游船码头8个：八方亭、文昌阁、玉澜堂、排云殿、石丈亭、铜牛、石舫和南湖岛，5种不同类型的游船：脚踏船、手划船、电瓶船、龙船和大型画舫。游船价格路线各异，可各取所需。

            园内餐饮

            颐和园面积较大，完整的游览完至少要4-5个小时。逛得累了饿了，可以坐下来补充下能量。园内共有三个快餐亭，分别位于知春亭、排云殿东九间和石丈亭处，主要经营日常饭菜和面食，价格相对来说还算公道。如果想要应景儿，园内还有一处专营宫廷御膳的老字号饭庄：听鹂馆，在那里可以品尝到具有宫廷风味的食物，不过价格就比日常菜贵一些了。

{% endblock %}