{% extends  'JingQu/models.html' %}
{% block content %}

            上海豫园位于上海豫园旅游商业区的东北部，与上海城隍庙、上海豫园旅游商城毗邻，是知名的江南古典园林，闻名中外的名胜古迹。1982年被国务院批准成为“全国重点文物保护单位”。

            豫园始建于明嘉靖、万历年间，距今已有四百五十余年历史。园主人潘允端，曾任四川布政使。潘允端为了让父亲安享晚年，从明嘉靖己未年（1559年）起，在自家的菜田上，聚石凿池，构亭艺竹，建造园林。经过二十余年的苦心经营，建成了豫园。

            “豫”有“平安”、“安泰”之意，取名“豫园”，有“豫悦老亲”的意思。豫园肇建初始，占地七十余亩，由明代造园名家张南阳精心设计，并亲自参与施工，整座园林规模宏伟、景色秀美。

            现豫园占地2公顷，楼阁参差，山石峥嵘，树木苍翠，以清幽秀丽，玲珑剔透见长，具有小中见大的特点，体现出明清两代江南园林建筑的艺术风格。

            豫园内至今还保存着“海派书画”发祥地—“藏书楼”、上海小刀会起义指挥部所在“点春堂”等史迹。历代古人对豫园有“奇秀甲于东南”、“东南名园冠”等赞誉。

            众多国内外政要首脑和名人都曾来到豫园参观访问，是上海一张难得的传统文化名片。

{% endblock %}