{% extends  'JingQu/models.html' %}
{% block content %}

            圆明园是清代著名的皇家园林，由圆明园、长春园和绮春园三块区域组成，历史上无比富丽优美，有“万园之园”的美誉。1860年英法联军将主要建筑烧为灰烬，如今游客前来只能在残骸中凭吊，寻找当年辉煌的帝国身影。

            圆明园
            圆明园的园林造景多以水为主题，以水景取胜，既有广阔平静的湖面，又有狭窄湍急的溪流。圆明园主要由两大区域构成：福海景区、后湖景区。

            福海是园中最大的水面，取“福如东海”之意，是当时皇家御园的水上游乐中心。海的中央有三个以桥梁连在一起的大小不同的方形岛。沿福海四周是众多的小水面回环萦绕，配以叠石堆山、聚土成岗，形成近百处层层叠叠、山复水转的自然空间，宛若天成。

            后湖景区在福海西部，环绕后湖构筑有九个小岛，是全国疆域“九州”之象征。各岛的园景各有特色，又彼此相借成景。

            绮春园
            绮春园也称“万春园”，由竹园、含晖园、西爽村、以及春和苑的北半部组成，曾是清嘉庆帝长年园居的主要处所之一，道光之后，主要是作为太后太妃们的园居之地。园内各处小景点众多，是一个小型水景园的大集合。

            而今，绮春园是圆明园每年一届的荷花节主场地。园内水面上种植有大片的荷花，盛夏时节，荷花怒放，整个绮春园一片姹紫嫣红。划着游船，在荷叶间穿行，也是一种不错的体验。

            长春园
            长春园以大型水景为主体。当年的核心建筑含经堂建筑群规模宏大，其布局参照紫禁城宁寿宫，是乾隆皇帝退位后常居的住所。园区东北角建有狮子林，是仿照苏州狮子林而建。园区西北部建了一系列欧式园林建筑，即俗称的“西洋楼”，大家耳熟能详的“大水法”，即位于此。

            此外还有谐奇趣、线法桥、海晏堂、远瀛观、观水法、线法山和线法墙等十余个建筑和庭园，只不过现在仅剩一片残垣断壁，只能在废墟中遥想当年的盛况。

            圆明园西洋楼景区内的黄花阵是一处仿建欧式的长方形迷宫。当年宫女和太监们在此间嬉戏，皇帝与一干妃嫔坐于高台之上观赏，因宫女手持黄花扎制的宫灯，故称黄花阵。游园至此，一定要走一下这个迷宫，感受当年君民同乐的氛围。

            观看展览和纪录片

            1860年英法联军的一场劫掠，使得一代名园毁于一旦，当年的壮观场景不复存在。如果凭空想象力不能及，可以在长春园的“圆明园盛时全景模型展”处，在讲解员的讲解中感受当年的盛况。地址：长春园西洋楼遗址区东南、含经堂东北侧。

            此外，位于西洋楼遗址区域内的圆明园展览馆每天8:30-17:00会循环播放大型纪录片《圆明园》，有助于人们更直观地感受一代名园当年的盛况。

{% endblock %}