{% extends  'JingQu/models.html' %}
{% block content %}

            长隆欢乐世界拥有多个大型游乐设备，诸如十环过山车、垂直过山车、超级大摆锤等，可以和小伙伴们一起感受刺激的体验。这里的表演也非常有特色，例如分秒对决的国际特效剧场，结合烟火声效的表演非常精彩。

            游乐园主要分为8个区域，分别是白虎大街、旋风岛、尖叫地带、中央演艺广场、哈比儿童王国、幻影天地、欢乐水世界、彩虹湾。

            从正门进入，首先经过的是白虎大街（在门口记得要取阅游园指南），大街两边各有五、六根石柱，每根柱子上都有一只白虎。白虎大街的右边就是长隆国际马戏大剧院（不包括在欢乐世界内，需要另外收费），这里还有家叫好旺角的纪念品商店。

            往前，走到十字路口，分左右二边，右面是旋风岛区域，旋风岛整体装潢以中古欧洲风格为主。这个地区建议玩的项目有U型滑板及飓风飞椅，U型滑板是跳楼机与过山车的完美结合，非常的刺激。左边是尖叫地带，顾名思义，大部分的大型游艺设备都在这里，比如十环过山车、龙卷风暴、摩托过山车、大力水手，都是园内人气爆表的项目，可以根据队伍长短和个人接受能力参与。2个区域的中间是中央演艺广场，是看表演的地方。

            再往前走的中间地段，从左到右分别是幻影天地、欢乐水世界、哈比儿童王国。可以在幻影天地这里看4D电影，这里还有个情景历险主题游乐项目叫森林神庙。水世界建议放最后游玩，因为可能衣服和鞋子可能会湿掉，里面有急流勇进、碰碰船、海盗漂流等。哈比儿童王国都是些适合孩子的游艺设备，带孩子来玩的一般以这个区域为主。

            最后，也就是靠近南门的区域是彩虹湾，这边的游艺项目是垂直过山车和超级大摆锤，然后还有个叫分秒对决的国际特效剧场，很值得一看。

            欢乐世界游客很多，所以有条件的话，建议工作日早点去。基本每个项目都需要排队等候，区别只在于队伍的长短，所以不要太纠结于玩游戏的顺序。最出名的几个大型游戏上午都是很火爆的，建议先排队玩人少的游戏，到中午、下午再去玩过山车，一般那时人会比上午少很多。（中午两点左右和下午五点左右是排队人最少的，因为这个时候大家都在吃东西或是已经要撤退了，如果不想排太久队，可以打时间差）

            园内下午有表演，很值得一看，表演节目时间安排以当日公告为准，请特别留意观看主要干道上的电子屏幕和现场电子提示牌。尖叫地带、欢乐剧场与国际特技剧场附近的大型电子屏幕上，都有详细介绍了园区当天主要演艺时间，还可留意园区的广播，各大剧场及表演开演前半小时，一般会有广播提示，可以提前过去占个好位置。

{% endblock %}