{% extends  'JingQu/models.html' %}
{% block content %}

            长隆野生动物世界以大规模野生动物种群放养和自驾车观赏为特色，是电影《爸爸去哪儿》的拍摄地。在这里可以看到精彩的动物表演秀，比较特别的比如白虎表演。很适合带孩子来玩，可以在“丛林发现”了解动物习性，还可以在“儿童天地”玩游艺项目。

            园区主要分为两个区域：乘车区与步行区。到了景区门口有免费游园地图提供，可以结合景区的表演时间，提前规划好游玩路线。
            乘车区倚山而建，可以乘坐免费的半开放式小火车深入到丛林和草原，全程约40分钟。这里有白虎种群散放区，除外还能看到成群的长颈鹿、斑马、羚羊，它们不再呆在笼子里，充满了活力。自驾车游客可以购买自驾车票，开着自己的车穿越自驾区，大概1个小时的车程，看到喜欢的动物还可以停下来拍照。

            步行区，有全景玻璃的北极熊馆、“水中国宝”中华鲟，以及鳄鱼湖区、海龟等，还有“世界国宝区”，可以看到大熊猫、亚洲象及英国雪特兰矮马。除外，在步行区还可以看到很多精彩的动物表演，比如大象剧场、花果山剧场、长隆方舟剧场、河马剧场、白虎跳水等。具体时间及场地可查看官网。

            带小朋友来的游客，除了看动物，还可以选择带孩子去“丛林发现”及“儿童天地”，在“丛林发现”，可以了解各种动物的饮食习惯和身体结构等科普知识。“儿童天地”则有各种游艺设备，
            并且这些设备的造型全部都是依照动物来打造，卡通趣味十足。

{% endblock %}