{% extends  'JingQu/models.html' %}
{% block content %}

            唐代著名诗人杜甫流寓成都时的故居。杜甫在此居住近四年，创作了上百首诗歌，这里因此被视为中国文学史上的“圣地”。现今的杜甫草堂是经宋、元、明、清多次修复而成。

            草堂位于成都市西门外的浣花溪畔，园内亭台林立，古木参天。从正门进入后，大廨、诗史堂、工部祠三座主要建筑物由南至北依次排列于中轴线上。工部祠的东北部，是少陵碑亭和大诗人当年的茅屋故居，茅屋以东是盆景园，往南依次是浣花祠、花径、大雅堂和靠近南门的草堂陈列室。

            标志性景观——茅屋故居
            茅屋故居，是借鉴川西民居的特点复建的，成为了杜甫草堂的标志性景观。茅屋东侧的盆景园内，有1999年建成的“杜诗书法木刻廊”，陈列着百余件杜诗书法木刻作品，其中有“杜诗绝唱、书法绝品、楠木绝材、刻工绝活”等四绝。

            草堂有三个门，其中正门和南门都位于草堂的南部，北门位于西北部。正门和南门相距不远，游人多从这两个门出入。

{% endblock %}