{% extends  'JingQu/models.html' %}
{% block content %}

            龙门古镇位于富春江南岸，是孙权后裔最大的聚居地。这里不仅是景区，也是个比较原始的生活区，没有鳞次栉比的商铺，倒生活着质朴的当地人，还保留着不少完好的明清古建。电影《理发师》、《富春山居图》曾在此取景。

            古镇大致分为古镇溯源、老街乡情、溪畔人家、百步遗踪、砚池夜月、孙氏大宗等10部分，镇子不大，一般两个小时左右即可逛完。

            进入古镇即需购票，大门票包含镇内所有需检票的景点，也是古镇里最优质的几处古建筑，不仅有民宅，还包括祠堂、大院、戏台、牌楼、塔等，类型齐全。比较出名的是百步遗踪的百步厅、孙氏大宗的孙氏宗祠。古镇全天都可进入，过了售票时间不需买票，镇内的景点也无法参观了。

            不过在古镇随意走走逛逛感觉也不赖，幽深的古巷拍出的照片很有文艺范儿，街上常常能看到当地人在悠闲地喝茶打牌聊天，因此许多游人对感受当地风情的兴趣甚至超过了看建筑本身。

            到龙门下车就能看到古镇的大牌坊，进入古镇后，可以看到一条鹅卵石铺就的老街，是古镇餐饮、小店最集中的地方，而古镇最有情调的是漫步在龙门溪边，看溪水人家的古镇生活。看古建筑最精华的地方在砚池附近，一圈明清古楼围着绿幽幽的池子，风光怡然。因此最佳路线是沿老街走到龙门溪边，再沿溪水绕回砚池，最后向北回到老街。这样不太容易迷路，而且能逛到古镇的主要景点。

            游玩龙门古镇通常并不在景区住宿，不过几乎一定会尝尝这里的孙权面筋。面筋里除了肉还有笋干、韭菜、胡萝卜等，外脆内嫩，味道很好，只要几块钱一个，非常实惠。另外值得一提的是，镇子南面的龙门山是个徒步的好地方，风光不错。顶峰海拔一千多米，登顶大概4-5小时，台阶较陡比较消耗体力，可以自备些干粮。

{% endblock %}