{% extends  'JingQu/models.html' %}
{% block content %}

            绝大多数第一次来北京的游客，都会把故宫当作必去之处。故宫又称紫禁城，是明、清两代的皇宫，也是古老中国的标志和象征。当你置身于气派规整的高墙深院，能真真切切地感受到它曾经的荣耀。悠久的历史给这里留下了大规模的珍贵建筑和无数文物，也成为今天游玩故宫的主要看点。

            游览古建筑群

            故宫是中国乃至世界上保存非常完整、规模非常大的木质结构古建筑群。这些金碧辉煌的建筑群可以分为“外朝”与“内廷”两大部分。以乾清门为界，乾清门以南为外朝，是皇帝处理政务的地方，以北为内廷，住着后宫嫔妃，是皇帝家庭生活之所。走过金銮殿、乾清宫、坤宁宫，在皇帝的御花园里赏弄花花草草，感觉好像穿越到了古装剧里。

            欣赏大量的珍贵文物

            故宫内珍藏有大量珍贵文物，据统计有上百万件。以文物的种类不同，分为多个展馆。其中珍宝馆和钟表馆很是引人注目，钟表馆每天11点和14点有钟表演示，可以看到清王朝珍藏的各种造型奇特的珍奇机械钟表，一定令你眼界大开。

            游玩路线

            故宫占地面积宽广，共有大大小小的宫殿70多座，游览路线繁多。想要好好地逛一圈，需要安排一天的时间。如果只是走马观花，看一看主要宫殿，两个小时就能逛完。

            两小时游推荐路线：
            如果只有两个小时的时间，建议沿着故宫中轴线参观。故宫精华的景区基本都在这条线上，走路时间也比较少。

            1. 午门-太和门-弘义阁（皇朝礼乐展）-太和殿-中和殿-保和殿-乾清门-乾清宫-交泰殿-坤宁宫-御花园-神武门

            2. 午门-太和门-太和殿-保和殿西庑（天府永藏展）-保和殿东庑（宫阙述往展）-中和殿-保和殿-乾清门-乾清宫-交泰殿-坤宁宫-御花园-神武门

            半日游推荐路线：
            如果觉得两个小时的游览不够尽兴，你还可以到东、西六宫的院落里逛逛，这里曾经住着紫金城里备受恩宠的妃嫔们。或者到钟表馆和珍宝馆看看，欣赏珍贵文物。

            1. 午门-文华殿（陶瓷馆）-太和门-太和殿-中和殿-保和殿-奉先殿（钟表馆）-乾清宫-交泰殿-坤宁宫-养心殿-西六宫区-御花园-神武门

            2. 午门-武英殿（书画馆）-太和门-太和殿-中和殿-保和殿-乾清宫-交泰殿-坤宁宫-东六宫区-斋宫-宁寿宫区前朝（珍宝、石鼓二馆）-宁寿宫区后寝（珍宝、戏曲二馆和珍妃井）-神武门

            一日游推荐路线：
            一日游规划路线几乎包括故宫博物院所有开放区域的重要宫殿和展馆，但也需要在参观时注意利用时间，并选择好自己感兴趣的展览陈列内容，若处处盘桓流连，一天的时间恐怕也不足以尽览胜景。

            午门-武英殿（书画馆）-文华殿（陶瓷馆）-太和门-太和殿-中和殿-保和殿-乾清宫-交泰殿-坤宁宫-养心殿-西六宫区-御花园-东六宫区-奉先殿（钟表馆）-宁寿宫区（珍宝馆、戏曲馆）-神武门

            经典景点

            皇帝举行大典的场所——太和殿
            太和殿，俗称“金銮殿”，是明清两代皇帝举行大典的场所。每逢大典之日，从太和殿至天安门外，设有庞大的仪仗，太和殿前檐下设中和韶乐，太和门内设丹陛大乐，王公立于丹陛之上，一品至九品文武百官齐集于丹墀内陈设“品极山”的御道两旁。

            皇帝上朝的地方——养心殿
            养心殿是一座“工”字形的建筑，分前后两殿。自清雍正以后，皇帝寝宫移至后殿，前殿成为皇帝处理日常政务，接见臣工的地方。

            紫禁城里华美的石桥——金水桥
            在太和门前广场共5座金水桥，单孔拱券式。造型秀美，同雄伟壮观的午门城楼和金碧辉煌的太和殿相映衬，引人入胜。

            皇帝大婚的洞房——坤宁宫
            坤宁宫是北京故宫内廷后三宫之一。在明代，坤宁宫是皇后的寝宫，但到了清代逐渐改作祭神的场所。

            举行“殿试”的场所——保和殿
            保和殿是中国传统宫殿建筑之精华，属于北京故宫中的一座殿宇式建筑。每年除夕，皇帝在此宴请少数民族王公大臣。自乾隆后期，这里便成为举行“殿试”的场所。

            举世无双的各类珍宝——珍宝馆
            位于宁寿宫区域，馆藏珍宝极其丰富，涵盖佛教用品、饰品、日用器具和赏玩珍品等。其中高14厘米的红珊瑚狮子、长137厘米的东珠朝珠、17.5厘米高的金“奉天之宝”玺等，都是难得一见的珍品。

            造型精美的各式钟表——钟表馆
            位于宫中奉先殿。展出的钟表以英国产品居多，也有法国、瑞士等其它西方国家的钟表。这些钟表除计时功能外，上面装饰的人物、鸟兽、花卉等还会做出各种不同的动作，制作非常精巧。其中高达231厘米的铜镀金写字人钟、87厘米高的铜镀金嵌珐琅葫芦顶渔樵耕读钟、铜镀金转花跑人犀牛驮表等很是珍奇。

{% endblock %}