{% extends  'JingQu/models.html' %}
{% block content %}

            广州动物园位于先烈中路东段，兴建于1958年，其与北京动物园、上海动物园并称为全国三大城市动物园。动物园适合亲子游，可带孩子来科普些小动物知识、还可以逛海洋馆及玩游乐园。

            这里既可以看到我国的国宝大熊猫以及金丝猴、华南虎、麋鹿、黑颈鹤等珍稀动物，还可以看到来自世界各地的河马、犀牛、非洲象等动物。

            除了看动物的部分，它里面还有广州海洋馆、蝴蝶馆、锦麟苑（可以看到金鱼）、游乐场（有些小型的游艺设备，比如旋转木马、碰碰车、激流勇进等）、逗趣园、奇石馆等主题景区，其中海洋馆和锦麟苑、奇石馆、游乐场的游艺项目需要另外收取门票，奇石馆及锦麟苑20元，蝴蝶馆免费，景区还有套票出售，具体可以上官网查看。

            逗趣园特别适合小朋友，可以和小驼羊、小绵羊、小香猪等亲密接触。另外动物园内，饲养员在每天的固定时间会投喂河马、大象、鹈鹕等动物的进食，感兴趣的可以在相应的时间前往观看.

{% endblock %}