{% extends  'JingQu/models.html' %}
{% block content %}

            来欢乐谷，整整一天的玩耍，可以体验到各种惊险刺激的感觉。谷内由阳光港、欢乐时光、加勒比旋风、巴蜀迷情、飞行岛、魔幻城堡、飞跃地中海、欢乐光年等主题区域组成。园内还经常举办音乐节、滑稽节等各种活动。

            欢乐谷园区面积很大，游玩下来，差不多需要一天时间。园内有很多有商店，可以随时补充饮用水。在欢乐时光区、魔幻城堡区、欢乐光年区和飞行岛区都设有快餐店。

            入口附近
            阳光港区是欢乐谷的入口，沿着木架结构的玻璃大走廊走进去，路边是小朋友们最爱的各种卡通人物扮相的迎宾仪式，带领大家进入欢乐殿堂。

            穿过阳光港区，沿着右手边前行既是欢乐时光区。这里有能模拟飞船发射的天地双雄；也有可体验公转与自转双重刺激的能量风暴。

            继续前行是加勒比旋风区：这是一片水的世界。各种水上娱乐元素在“加勒比水公园”荟萃。龙卷风、滑板冲浪、巨蟒滑道、多米诺水屋、水上DISCO……

            最北端的区域
            园内最北端的巴蜀迷情区，这是一个以消失的鱼凫古国为主题的区域，你可以乘坐“雪域飞龙”在古蜀碉楼间迂回驰骋，也可以在“渔猎漂流”中体验到激流捕鱼的乐趣。

            欢乐谷中的飞行岛区，是一片四面环水的世外桃源，有一个可以升上半空的观览器，仿佛一只巨大的手臂，把游人托向高空。

            适合亲子的区域
            谷中的魔幻城堡区和欢乐光年区，是最适合亲子游的区域，有“疯狂老鼠”、“泡球战场”等颇具童趣的娱乐项目。如果没带孩子，那可以直达飞越地中海区，感受刺激的“云霄飞龙”；在“地中海4D影院”中，体验喷水、座椅震荡等强烈的现场感与真实感。

{% endblock %}