{% extends  'JingQu/models.html' %}
{% block content %}

            “让我们荡起双桨，小船儿推开波浪…”，耳熟能详的歌中描述的正是这里。北海位于故宫西北侧，与“中海”“南海”合称三海。公园曾是皇家园林，园内亭台错落掩映，湖畔林木郁郁葱葱，风光极美。

            游玩亮点

            这里又是皇城根儿下最具老北京韵味的公园，早上会有老人家在这里健身、遛鸟；下午傍晚则是划船游园的最好时候。来北海公园，你可以观赏当年皇朝留下的精美建筑；也可以湖畔坐下，与身边的老人聊聊，听他们讲述北京城皇家的野史，说一说那些尘封已久的往事；更可以融入踢毽子、抖空竹的人群中，跟他们讨教一二，也许，这也是一种融入老北京生活的方式吧。

            区域概览

            北海公园以北海为中心，全园分为“北岸景区”“东岸景区”“琼岛景区”和“团城景区”四大区域。

            北岸区位于公园西北角，主要由快雪堂、五龙亭和小西天、静心斋、阐福寺和西天梵境等一系列宗教建筑构成，其中大家耳熟能详的“九龙壁”也位于此区域内。

            东岸区位于公园东北角，主要由先蚕坛、画舫斋、濠濮间组成。琼岛景区位于北海南部，以永安寺为中心，周围建有长廊、漪澜堂、悦心殿、阅古楼等建筑。

            已成为北海标志性建筑的白塔，则位于琼岛的中心最高点，颇有主宰全园的气势。团城位于北海公园最南端，主体建筑为承光殿，店内供奉有一尊1.5米高的大玉佛，通体镶嵌宝石，光彩夺目，游览时必不可错过。

            主要景点

            白塔，位于琼华岛最高处，是一座典型的藏传佛教塔。塔高36米，上圆下方，为须弥山座式，塔顶设有宝盖、宝顶，并装饰有日、月及火焰花纹，以表示"佛法"象日、月那样光芒四射，永照大地。白塔矗立于琼岛顶峰，绿荫拥簇，巍峨壮美，堪称北海公园的标志。

            九龙壁，中国有三块九龙壁，其中最有特色的一座既是北海公园的这座。九龙壁通体用彩色琉璃砖砌成，长近26米，高6.65米，为五脊四坡顶，壁的两面各饰有九条蟠龙，加壁顶和两侧五面共有龙32条。蟠龙戏珠于波涛云雾之中，造型生动，色彩艳丽，工艺高超，为我国琉璃建筑中的精品。人们从各地慕名而来，只为一见真容！

{% endblock %}