{% extends  'JingQu/models.html' %}
{% block content %}

            玄武湖古名桑泊、后湖，位于钟山脚下，是中国规模较大的皇家园林湖泊，与嘉兴南湖、杭州西湖并称“江南三大名湖”。玄武湖分为五块绿洲，荟萃了许多的名胜古迹，现在是南京有名的文化休闲公园。

            南岸观湖
            从南京火车站出来，南面就是环湖路，你可以环湖漫步，欣赏玄武湖的景色。若是夏天来到这里，可以看到大片荷花盛开，水面一片碧绿，尤为迷人。湖的南岸有一段明城墙（即明城垣史博物馆所在的城墙），在此观湖也别有一番风味。

            五洲
            你可以乘坐脚踏船或电动船来游湖，在湖上看五洲及周围的城市风光，十分惬意。当然，要领会玄武湖的美，还需上到五洲去步行，慢慢游览。五洲之间有桥堤相通，可随意穿行。春天游樱洲，能看到缀满枝头的樱花；这里还有荷花园，是看荷花、拍照的好去处。

            环洲
            来到环洲可以好好欣赏一下这里的假山瀑布，众多太湖假山石造型各异，其中的童子拜观音石看起来就像是一个小孩在拜观音，你不妨研究研究。环洲西北部小山上还有郭璞墩，是湖区内的高点。

            菱洲、梁洲、翠洲
            在菱洲的台菱花架能眺望钟山、小九华山的景色。在梁洲有盆景园、杜鹃园、览胜楼等景观。而在翠洲，四处是松柏、竹柳等植物，绿意盎然，非常适合散心。此外，在玄武湖东边还有一处情侣园，园内有郁金香、桃花等多种植物，景色宜人，常看到新人来此拍婚纱照。

{% endblock %}