{% extends  'JingQu/models.html' %}
{% block content %}

    南湖因位于嘉兴城南而得名，与南京玄武湖、杭州西湖并称“江南三大名湖”。这里不仅有江南秀美的风光，还是我国近代史上重要的革命纪念地。1921年，中国共产党诞生在南湖中的画舫上。

    南湖其实是一片开放式的湖面，沿湖走走逛逛是免费的，但若要上湖心岛和参观部分景点则需购票。60元包含上岛费和游船费，以及湖心岛、文字书碑苑、伍相祠等景点。游船大约20分钟一班，载着你按照景点的顺序绕湖一圈。每到一个景点，乘客下船游览，而后等下一班船前往接下来的景点即可。

    沿岸有3个主要码头，通常在南湖东面的会景园上船，依次游览湖心岛-小瀛洲-壕股塔。除了湖心岛在南湖中心，必须乘船以外，另两处都在岸上。你可以游完一整圈回到出发地，也可以在其中一处结束游程。

    游船的第一站便是南湖中心的湖心岛，岛上的烟雨楼据说是当年乾隆下江南曾多次停驻的地方，因而名声大噪。当今的烟雨楼早已不是当年的古物，不过仿古建筑在周围的园林下显得很是秀丽，依然是岛上最值得一看的建筑。尤其是登楼远望，让人不由心情大好。

    著名的中共“一大”会址——南湖红船就在烟雨楼前方的湖面上。它正是历史课本上讲的，中国共产党宣告成立的“南湖中的一艘小船”。许多游客来此就是想亲眼看看当年革命的诞生地。不过如今看到的红船是后来仿制的，里面的装潢很新。登船还得另付费用，船上只能看看，不许拍照，一般在岸上拍拍外观就好。此外，湖心岛上还有乾隆御碑亭、清晖堂，以及好几处小亭子，可以随意逛逛。

    接下来的游程中，北面小瀛洲纪念仓颉的仓圣祠、文字书碑苑，西面的壕股塔、纪念伍子胥的伍相祠等等，都相对比较平淡，走走看看景色感觉还不错。登上壕股塔能俯瞰南湖中的绿树垂柳、亭台桥梁，一侧的浙赣线时而还有火车经过。

    其实单是绕着南湖边随意走走也是不错的选择。近年来南湖被维护得越来越精致，沿湖新修了不少小园林，比如东面以春夏秋冬为主题的四个小公园、南面的勺园，是当地人也很喜欢的城市绿地。想感受红色历史的话，勺园附近的南湖革命纪念馆、英雄碑都是不错的选择。此外，南湖烟雨是“嘉禾八景”之一，下着小雨的时候，湖面上烟波缭绕，景色迷人。

{% endblock %}