{% extends  'JingQu/models.html' %}
{% block content %}

            花果山位于江苏省连云港市南云台山中麓。花果山景区是国家级云台山风景名胜区的核心景区、国家AAAAA级旅游景区、全国文明风景旅游区示范点、第二批国家重点风景名胜区、国家地质公园。先后荣获“全国文明风景旅游区示范点”、“中国特色生态文化旅游胜地”、“美丽中国十佳海洋旅游目的地”、“中国最值得外国人去的50个地方金奖”、“中国最美文化休闲旅游目的地”等多项荣誉称号。
            花果山野生植物资源十分丰富、记有植物种类1700余种，其中药物资源就有1190种，金镶玉竹、古银杏等都是省内罕见、国内少有的树种和水帘洞，栖身之、唐僧崖、古树名木，是江苏省重要的野生植物资源库，每年吸引了国内许多高校、科研单位、专家学者来此考察研究。
            花果山在唐宋时称苍梧山，亦称青峰顶，为云台山脉的主峰，是江苏省诸山的最高峰。 李白：“明~日不归沉碧海，白云愁色满苍梧。”与苏轼：“郁郁苍梧海上山，蓬莱方丈有无间”，写的都是云台山。被誉为：“海内四大名灵”之一。

{% endblock %}