{% extends  'JingQu/models.html' %}
{% block content %}

            江南水乡同里古镇位于苏州吴江，周围被湖泊围绕，网状的河流将小镇分割成七个岛，古镇上几乎家家邻水，有很多狭窄的小巷和明清老建筑，平日里游客并不太多，有种安静祥和的感觉。夜晚时灯光沿着房檐亮起，美轮美奂。

            古镇游览区面积并不大，周长约3公里，一般都步行游览，另外还可以付费乘坐人力三轮车游览。古镇内现在开通了需要付费乘坐的五福水上游船，线路涵盖古镇内和罗兴洲。

            同里古镇的入口在景区的南侧，进入后即可看到古镇里处处小桥流水的景观。形态独特各异历史悠久的三桥就在古镇的中心区域。古镇的联票现在包含九大景点，其中退思园、珍珠塔景园、松石悟园、太湖水利展示馆、崇本堂、嘉荫堂、耕乐堂、罗星洲等景点散布在古镇之内，有精美小巧的园林、名人故居，也有特色展览馆，可以在古镇内步行一一游览。罗星洲是古镇东侧湖上的一个小岛，可以烧香拜佛，需要从古镇步行20分钟到码头乘船前往，船票也包含在门票之内。

            来到同里，小吃是一定要尝试一下的，才进大门两侧的明清街和竹行街便是古镇里小吃密布的地带。同里的各类糕点很有特色，袜底酥、芡实糕、麦芽塌饼都十分有名，而江南特色的桂花小圆子、状元蹄也可以让人大开味蕾。可以沿着这两条小街一家家逛过去，享用美味。

            除了小吃之外，景区里也有很多文艺小资的去处，大多集中在古镇南侧。南园茶社便是其中的代表，坐在二楼喝一杯茶，不时还有评弹表演十分惬意，不能错过。

            如果要游玩两天，可以在古镇内住宿一晚，镇上有很多民宿客栈，不过古镇内住宿虽有特色，条件设施并不如外面的酒店，古镇外东侧的环湖西路附近则有快捷酒店和宾馆可供选择。

{% endblock %}