{% extends  'JingQu/models.html' %}
{% block content %}

            崂山位于青岛东部，它东、南两面濒临黄海，有“海上第一名山”的美名，最高峰为海拔1133米的巨峰。崂山以其雄伟、壮观、奇特、秀丽成为了著名的道教名山，崂山的道教宫观、日出与云海，都极富盛名。

            崂山风景区主要是由巨峰、流清、太清、棋盘石、仰口、北九水、华楼、7大风景游览区组成。游览线路共有四条，其中陆路三条（南线、东线、中线），水路一条。这些景区的风光：巨峰旭照、太清水月、海峤仙墩、华楼叠石、九水明漪等共同组成崂山十二景。

            由于华楼远离大海，且不在崂山区，所以游客基本不会前往。北九水虽以水为美，可惜是溪水、泉水而不是海水，尽管风景秀美，但这等景色它处亦多，不足为奇。因此对于一般的游客而言，真正值得游览的也就是巨峰和流清-仰口一线，其中，这两条线路各玩一天就足够了。巨峰和仰口也正是崂山自然美景的所在。

            流清-仰口又称南线，是崂山景区最早开发最负盛名的。它紧贴海岸线，拥有著名人文景点太清宫，是绝大多数人游崂山的线路。进入景区的基本线路是流清-太清宫风景区-华严寺，最后是仰口。由于这条线路的精髓在于最后的仰口，建议游玩前面的景点可自己安排好时间。

            太清宫——聊斋中崂山道士的故事发生地。当年因蒲松龄来到此地，看到太清宫有感而发在此写出了《崂山道士》。游客在此可以看到蒲松龄笔下崂山道士穿墙越壁的那面墙。华严寺——崂山中现存唯一佛寺。景点之间有大巴接送，车票需另行购买。

            由于仰口靠近黄海，在这里可以看海、吹风。当然，仰口除了美景外，就是富于挑战性的觅天洞，此洞蜿蜒、陡峭、狭窄，最暗处完全伸手不见五指，最窄处卡着身子才能勉强过，大大增加了该景点的可玩性。可步行也可坐缆车前往觅天洞，登上山顶可拍照、看风景、远眺黄海。另外记住必须带手电筒，如果没有可以在景区门口花钱租一个，回来归还就可以了。

            除了仰口，崂山的第二个美景就在巨峰风景区。巨峰是崂山主峰所在，其中的崂顶为最高点。该风景区主要以爬山为主，是崂山旅游最耗体力之处。巨峰乱石叠嶂，气势恢宏，晴天可看海，阴天可观云海，而在崂顶观日出，“巨峰旭照”又是一种美不胜收的迷人画面。

{% endblock %}