{% extends  'JingQu/models.html' %}
{% block content %}

            隆兴寺又名大佛寺，位于石家庄市正定县县城内，是前来石家庄旅游不能错过的景点。寺院始建于隋朝，又经历代修葺，现为全国保存年代最久远、规模最大、保存程度最完好的寺院之一。隆兴寺如今的名声并不是很大，但历史上却是备受皇家重视的寺院。这里有宋太祖赵匡胤亲自下令修筑的菩萨像、清朝历代皇帝的足迹和手书碑文、牌匾等，地位极高，很多香客都会在这里拜佛祈福。寺内还可以看到众多珍贵的文物珍宝、宋金时期古老风格的建筑等，各具特色又都十分珍贵，都可以一一参观。

            隆兴寺的规模很大，拥有众多建筑。寺院的纵深大约600米，宽约200米，寺院的主体殿堂大致呈中轴线式对称布局，从外到内依次有天王殿、摩尼殿、戒坛、大悲阁、弥陀殿、毗卢殿、龙腾苑等主要建筑，进入寺院后沿着寺内众殿一一步行游玩即可，一般需要2-3小时左右。

            隆兴寺被称为大佛寺，寺内最主要的珍宝便是一尊巨大的千手千眼观音像。观音像位于寺内最中心的大悲阁处，是全寺院最值得参观的地方。观音像是由北宋赵匡胤亲自下令建造的，高21.3米，十分壮观，是全国古佛像中规模最大的一尊。也是因此，寺院又被成为大佛寺，到此一定要好好参观一下。

            摩尼殿也是寺院内参观的重点，殿内的北壁供奉着一尊五彩倒坐观音菩萨像，这尊像的坐姿十分独特，而且颜色很鲜艳，色彩逼真。鲁迅先生就曾经称赞这尊塑像是
            “将神人格化”了，这尊像也被誉为“东方美神”。另外，摩尼殿本身的建筑也是一件非常独特的艺术品，是宋朝建设的，整个建筑都是宋代风格，曾被梁思成先生誉为国内建筑珍贵的宋代斗拱“孤例”，可以认真观察一下，这里是否和一般古建筑都不相同。

            除了隆兴寺和摩尼殿外，戒台殿内的隆兴寺戒台、转轮藏阁内北宋时期的转轮藏、慈世阁内高达7.4米的北宋木雕弥勒像、御碑亭内康熙及乾隆皇帝手书的碑文，还有隋朝被称为“楷书之组”的石碑龙藏寺碑，都是全国难得一见的珍宝，来此参观时一定不能错过。另外还有大觉六师殿遗址、龙腾苑等多处景观，都可以一一参观。

{% endblock %}