{% extends  'JingQu/models.html' %}
{% block content %}

            暖泉古镇是一处历史悠久的北方小镇，始建于元代，明清时期曾有大规模修建，古色古香的建筑十分适合拍照摄影。与其他旅游发达的古镇相比，这里氛围淳朴安静，还有很多居民生活在镇子里，生活气息浓厚。村子东侧进行的树花表演更是精彩绝伦，现场观看非常震撼。

            暖泉古镇的规模不大，长宽大约都在几百米左右，镇上开放了西古堡（一座古老城楼）和几座大院可以开放参观。镇上有很多小店铺可以随意走走逛逛，一般参观2-3小时即可。不过大部分游客来此都会参观一下晚上的打树花表演，看完在镇上住宿一晚，第二天离开。

            西古堡其实就是镇外的城楼，号称“中国民俗第一堡”。这座城楼建于明朝嘉靖年间，是典型的明朝城楼式古堡建筑。这里有壮观的城楼、古朴的石板路，拍照摄影十分合适。堡内（即城内）便是古镇里的180多座古民居建筑，其中开放的有当年大户人家的院子、古戏楼、寺庙等，都可以一一参观。其中的暖泉书院历史上十分著名，可以好好看看。另外，镇上的北门瓮城是电影《让子弹飞》的取景地，可以好好看看，观察一下这里是否和电影里的场景一致。

            在镇上逛街时可以到街上的小店铺里逛逛，这里有出售特色商品的小店，因为蔚县的剪纸十分著名，所以这里最多的便是剪纸店，可以挑选自己喜欢的购买。镇上的小吃店也十分不错，粉坨、暖泉豆腐干等特色小吃价格实惠，都可以好好品尝一下。另外，镇子名叫暖泉的原因就是镇上的小溪是温泉水，四季不冻，冬天来此也有妇女在街边的小溪里洗衣服，十分特别。

            最后，最精彩的便是在镇子东侧的树花广场观看表演了，打树花表演是当地社火的特别活动，已有300多年历史。就是把铁烧制到1500摄氏度，成为通红的铁水，打到城墙之上泛起壮观的“火树银花”景观，非常震撼。表演持续1个小时，除了两次打树花外，还有关于当地民俗的特色歌舞表演，十分精彩，来此游玩一定不要错过。

            很多游客在看完打树花之后会选择在镇上住宿一晚，镇上有多家客栈，就在古色古香的民居之内，一般平时的普通房间每人50-60元左右。也有条件较好的酒店，标间大约200元。不过需要注意的是，每次有打树花的日子（一般是周末）价格将会翻倍，而且房间紧张，所以需要提前一周左右预定。

{% endblock %}