{% extends  'JingQu/models.html' %}
{% block content %}

            玉渊潭公园是北京市区最大的公园之一，也是市民们放松漫步的好去处。这里有东、西两座大湖，湖边杨柳依依，景色非常优美。公园里还有北京市区最大的樱花园，每年3、4月份玉渊潭赏樱，是整个京城的热门活动。

            玉渊潭公园在东南西北几个方向均有入口，园内面积较大，长约有2公里，宽将近1公里。公园内部有众多景点，可以概括为北侧樱花园、中心处东西两大湖和南侧游乐观景区几个部分。游客进入园区后步行游览，一般游玩小半天左右。

            漫步樱花树下

            北侧的樱花园是公园内最著名的景点，樱花园是一座园中园，也是北京市区最大的樱花园。园内种植了从日本引进的几千株樱花树。这些樱花品种不同，花期也有早有晚，可以接替开放，使得樱花园每年的3、4月份有一个多月的时间都能看到盛大的樱花，拍照观赏都十分合适。

            每到此时，园内也会举办樱花节，附近会搭起很多小吃摊和特色的购物小摊，游人如织，十分热闹。不过届时公园的票价会上涨到10元，周末、清明等节假日也会有人山人海的情况出现。

            泛舟东西湖

            中间两处大湖分别是东湖和西湖，两个湖泊的长度都在700米左右，周围有垂柳树木，远处的电视塔倒影湖中，环境非常优美。湖上有几处码头，可以划船游湖，船分为电动和脚踏两种，座位有4-6人不等，租船的参考价格在每小时60-120元不等，需要付200-400元左右的押金。除了乘船游湖外，在湖边散步也是不错的选择，每到傍晚时分夕阳西照，更是十分惬意。

            其它游玩项目

            湖南侧区域分为两部分，东边以观赏区为主，这里有留春园、景观大道等处可以游玩，有树木园艺、亭台楼阁等，类似园林风光。西边则有一些少儿娱乐项目，如碰碰车、花果山漂流、小游乐园等，每项收费一般在20元左右，适合带小朋友游玩的游客前来。而每年到冬天时，西边还会有一个雪上游乐园，可以体验滑雪圈、冰车、马拉雪橇等娱乐项目。 

{% endblock %}