{% extends  'JingQu/models.html' %}
{% block content %}

            陶然亭公园是以“四大名亭”之一陶然亭为中心修建的园林式公园。公园的中心是青绿湖水，周围垂柳依依，环境优美。园内除了陶然亭外，还仿造全国各地的历史名亭修建了很多亭子，漫步公园便可以遍览全国名亭。

            陶然亭公园的面积不大，长宽大约都是1公里左右，公园在东西南北几个方向都有入口，进入后步行游玩即可。游玩大概需要2-3小时左右。公园内中心是一座环形的湖泊，中心为湖心岛。除了湖区和湖心岛外，周围的区域大致分为西南侧、东南侧、北侧三个部分。

            夏天乘坐游船，冬天在湖上滑冰

            环形湖泊由湖面上的三座桥分隔为东湖、西湖、南湖三部分，湖中心是一个湖心岛。湖面上则可以划船泛舟，公园提供多种游船，有普通的脚踏船，还有特色的海战船、大黄鸭船等，船上可以乘坐4-6人不等，价格为每小时60-150元左右不等。每到冬天湖面封冻时，在湖上会开放人工冰雪场，可以前来滑冰、玩雪圈等。

            湖心岛：陶然亭所在地

            湖心岛即是陶然亭和慈悲庵的所在地。陶然亭是中国历史四大名亭之一。

            慈悲庵现为一座小型的博物馆，通过一些革命文物和图片文字介绍展示了李大钊生平、五四运动事迹等。

            在湖心岛上还有一座高石墓，是革命烈士高君宇和才女石评梅的合葬墓，二人的爱情故事十分动人，所以也有很多人来到这里凭吊。


            另外，湖心岛和湖的周围树木茂盛，垂柳依依，环境优美，在这里漫步、拍照都十分不错，傍晚时还有很多人环湖锻炼。

            华夏名亭园

            西南侧是公园的重点区域华夏名亭园，这里便是仿建的全国各地名亭的所在地。在这里可以看到兰亭、谪仙亭、醉翁亭等十几座历史名亭的复制品。各个亭子形状各异，每个都独具特色。而且周围树木依依，漫步其中十分不错。

            儿童游乐区

            北侧区域位于北门附近，这里也有一些亭子和水榭树木等，可以漫步观景。不过主要的内容则是北门旁的儿童游乐区，有小火车、太空漫步、碰碰车等十几种娱乐项目，每项大约15-40元左右，适合带小朋友前来游玩。

            另外这里还有两座免费的用石头建的滑梯，分别叫大雪山和小雪山，好多本地的游客不仅会带孩子前来游玩，更会亲自体验一下回味童年时的感觉。

            南侧区域也有一些亭子，这一部分的主要景观是树木。这里树木比较茂密，其中的潭影流金景点处更有漂亮的银杏林，每到秋天可以看到很多银杏叶，观光拍照都十分不错。

{% endblock %}