{% extends  'JingQu/models.html' %}
{% block content %}

            长春市民打卡最多的公园之一，园内的郁金香远近驰名，广场四周沿弧形线种植了60余个品种170余万株的郁金香，让人满眼都沉浸在这无敌的花海中。最值得称赞的是，公园免费对游客开放。

            主入口设内外入口广场，外广场除中间布置规则式花坛外，两侧设置停车场，以满足停车需要，内广场的轴线上布置一组花坛，与外广场花坛相呼应。在正阳街入口轴线上，设宽敞的下沉式入口花卉广场，广场内设有以花卉为主题的雕塑以及喷泉、水池、花池、灯柱廊、坐椅、山石雕塑等园林小品。

            三号门轴线的末端是异国名花园，除了世界各地的国花、名花外，还穿插了一些具有代表性的建筑、小品、雕塑，如欧式柱廊等。使游人在赏景的同时，增强了对各国的花卉文化知识的了解，起到一定的科普作用。

            在野生花卉区与岩石园之间的水面上还有一个游艺园，结合水面设置趣味桥、游艺桥、水中活动汀步以及攀缘墙等设施，是个不错的亲子活动地。

{% endblock %}