{% extends  'JingQu/models.html' %}
{% block content %}

            庙香山风景区是由吉林庙香山冰雪体育旅游集团公司2012投资建设，景区位于九台城区南部，长吉两市中间，与长春新区毗邻，是吉林省长吉冰雪圈的重要节点，是长春新区冰雪旅游发展的重要组成都分。
            国家AAAA级旅游景区 ，区域内冰雪、温泉资源富集、苗木花卉种植普及，自然生态与田园风光美丽融合，民俗文化丰富，是开发建设滑雪运动，温泉养生、延伸乡村旅游、推进城镇化建设、构筑长春多业态综合发展的旅游新格局。

            优良的自然生态环境、美丽久远的神话传说、和谐的人文基础设施以及空灵澹远的佛教文化构成了庙香山独特的休闲度假魅力。
            长春庙香山风景区位于九台市波泥河镇 [4] ，地理位置石头门水库、饮马河和龙嘉国际机场毗邻，是旅游避暑的胜境，
            每年冰雪覆盖期达4个月。庙香山是长白山的余脉大黑山山脉，主峰海拔高度479米，最大落差248米，自然生态覆盖率达87%，各类植物322种，是距长春最近海拔最高的山峰。

{% endblock %}