{% extends  'JingQu/models.html' %}
{% block content %}

            哈尔滨市儿童公园是哈尔滨市一座为广大少年儿童服务的专业性公园。1956的儿童节一条由少年儿童自己管理的儿童铁路和“少先号”儿童列车的在公园内正式通车，公园也被正式命名为哈尔滨市儿童公园。

            驰名中外的儿童铁路，围绕公园一周，全长2公里，往返一次需12分钟，设有两个站台——哈尔滨站和北京站，“少先号”儿童列车由内燃机牵引，仿古式车头，共有6节软席车厢，可容纳192名旅客，目前是已更新至第五代。

            儿童火车从站长到司机、售票员都由市内的小学生轮流担任，在当时能够当上儿童铁路的司乘人员，是相当光荣的一件事。别看司乘人员都是儿童，但是他们工作起来丝毫也不马虎，曾先后接待了众多国内外重要贵宾。

            除了小火车外，公园里还有不少娱乐项目，如豪华碰碰车、逍遥球、高空观览车、豪华章鱼、海洋球等。马家沟河从园内潺潺流过，正门前还有一条新改造的俄罗斯风情观光街，洋溢着浓郁的异国风情。

{% endblock %}