{% extends  'JingQu/models.html' %}
{% block content %}

            天坛是明、清两朝皇帝祭天、求雨和祈祷丰年的专用祭坛，是全国著名的古建筑。坛域北呈圆形，南为方形，寓意“天圆地方”，整个天坛分为内坛、外坛两部分，祈年殿、回音壁等耳熟能详的建筑都位于内坛。

            区域速览

            内坛以宫墙分为南北两部分，北部为“祈谷坛”，是皇帝在春季举行祈谷大典的场所，祈祷风调雨顺、五谷丰登，主要建筑有祈年殿、皇乾殿、东西配殿、祈年门、神厨、宰牲亭、七十二长廊等。

            南部为“圜丘坛”，是一座露天的三层圆形石坛，为皇帝冬至日祭天的地方，主要建筑有圜丘坛、皇穹宇及配殿、神厨、三库及宰牲亭等。

            连接两坛的是一条长360米、宽28米、高2.5米的砖石台，称为“神道”，又称“海墁大道”，也叫“丹陛桥”，寓意着上天庭要经过的漫长道路。

            三音石的精巧设计

            游玩天坛，除了观赏各殿堂的精巧建筑、追寻古代帝王祭天的宏大场面外，回音壁、三音石等奇巧的设计也一样令人慨叹古人的智慧。

            在皇穹宇殿前到大门中间的石板路上，由北向南的三块石板叫做三音石。在皇穹宇门窗关闭而且附近没有障碍的情况下，站立于第一块石板上击掌，可听到回音一声；于第二块石板上击掌，可听到回音两声；于第三块石板上击掌，可听到回音三声。

            了解祭天文化

            单纯的参观，可能对古代帝王祭天仪式总是没有具体的概念。不要紧，设在祈年殿西配殿的祭天礼仪馆里详细介绍了中国祭天礼仪的演变过程，重点展示了清代祭天大典的礼仪情况，包括各种祭天礼器和祭天程序等，其中《清乾隆十三年大驾卤簿图》第一次展现了中国皇家最高仪仗的风貌，尤为精彩不可错过。

            而设在祈年殿东配殿的祭天乐舞馆则以编钟、编磬等清代中和韶乐的乐器实物，结合文字和图片，全面介绍了中和韶乐的历史沿革、乐舞制度、管理机构及祈谷大典时的演乐场面，使游人对祭天乐舞有直观和全面的了解。

{% endblock %}