{% extends  'JingQu/models.html' %}
{% block content %}

            香山公园位于北京西郊，是一座具有山林特色的皇家园林，公园内林木繁茂，还有很多古迹藏在林中，是北京的观赏胜地和天然氧吧。每年秋季的“香山红叶红满天”是景区的亮点，在国内几乎家喻户晓。

            赏秋好去处

            香山红叶驰名中外，是感受北京金秋的绝好去处。每年的金秋时节，漫山遍野的黄栌经过严霜的洗礼后，变得艳红似火，把整个香山染成一片火红。其中森玉笏、玉华岫和阆风亭都是看红叶的绝好之处。而深秋的雪后，连绵的青山银装素裹，一片洁白中点缀着片片红霞，这正是旧燕京八景之一的“西山晴雪”。

            欣赏文物古迹

            香山公园创建距今已有近900年的历史。早在元、明、清时，皇家就在香山营建离宫别院，每逢夏秋时节，皇帝都要到此狩猎纳凉。公园内文物古迹众多，亭台楼阁散布于山林之间。集明清两代建筑风格的寺院“碧云寺”；国内仅存的木质贴金“五百罗汉”；迎接六世班禅的行宫“宗镜大昭之庙”和颇具江南特色的古雅庭院“见心斋”，都是除红叶外亦不可错过的赏玩胜地。

            此外，香山寺东南坡的双清别墅也是不可错过的游玩之地。

{% endblock %}