{% extends  'JingQu/models.html' %}
{% block content %}

            雍和宫是北京市内最大的藏传佛教格鲁派（黄教）皇家寺院，历史上这里曾是清皇四子胤禛（雍正皇帝）的府邸，乾隆皇帝的出生地。后来改为黄教寺院，香火极旺，寺内还有很多珍贵的古建和文物，值得参观。

            汉藏结合

            雍和宫作为寺院的一大特点就是：它是佛教汉传和藏传两大流派的融合体，游玩雍和宫时，你可以在天王殿中看到汉传佛教的大肚子弥勒佛，又能在法轮殿中看到藏传佛教的宗喀巴大师铜质鎏金像。此外，天王殿中的四大天王和雍和宫大殿中“三世佛”的排列位置也和汉传寺庙中有所不同。

            珍贵文物

            雍和宫还藏有清代西藏地方政府进献给皇室和本庙的珍品（在班禅楼、戒台楼两个文物展厅内可观赏到部分藏品）。寺内各殿堂供有众多的佛像、唐卡及大量珍贵文物。其中紫檀木雕刻的五百罗汉山，金丝楠木雕龙的大佛龛和十八米高的白檀木大佛是雍和宫木雕工艺的三绝，三绝以万福阁内的弥勒大佛最负盛名，距离地面18米，埋入地下8米，是一棵完整的白檀木所雕。此树原产地为尼泊尔，由七世达赖购得，后献给乾隆皇帝。

            游览路线

            雍和宫主体建筑群由牌楼、昭泰门（山门）、天王殿、雍和宫大殿、永佑殿、法轮殿、万福阁以及班禅楼、戒台楼两个文物展厅组成，另外还有东西配殿、“四学殿”等建筑。游玩雍和宫沿着中轴线步行即可，景区内的道路并不复杂，很容易找到各殿。

{% endblock %}