{% extends  'JingQu/models.html' %}
{% block content %}

            中华恐龙园是一座以恐龙文化为主题的大型游乐园，是环球恐龙城的核心景区。这里既有刺激的娱乐设施，也有轻松休闲的项目，还有孩子们喜欢的动漫体验馆、各种表演，夏季更有动漫水世界和夜公园，是亲子游的好去处。

            园区分布：

            恐龙园内分为欢乐街、雨林冒险、嘻哈恐龙城、库克苏克、鲁布拉、中华恐龙馆六大部分。其中中华恐龙馆是展示恐龙文化的核心场馆；惊险刺激的机械游乐项目主要在“库克苏克”和“鲁布拉”；“雨林冒险”主要有动物表演和真人表演；“嘻哈恐龙城”以动漫体验为主；“欢乐街”有景区服务区域以及纪念品商店。

            刺激的游乐项目：

            众多高空机械游乐项目使这里成为寻求刺激的首选：你可坐上顶级高空摇摆项目“疯狂火龙钻”，体验一把强烈的失重感；或是登上“通天塔”，寻求瞬间从空中急降的刺激；还有中国唯一的一套4D过山车，让你一秒内体验极速、飞转的快感。

            轻松休闲的项目：

            园内也有轻松休闲的项目，你可在中华恐龙馆中参观到多种中国系列的恐龙化石，在这里你会了解到恐龙文化。你也可以参不那么惊险的游乐项目，如“雷龙过山车”、“龙神古塔”等，让你在微紧张中寻求欢乐；在不同的场馆还可观看音乐剧、魔幻剧和真人特技表演等节目。

            带孩子游园：

            如果带着孩子，可去“嘻哈恐龙城”的动漫体验馆玩一把电游，或是参观动漫展、看大象表演，这里还有桑巴气球、翼龙骑士等孩子们喜爱的项目；而“动物表演馆”内可看到精彩的海狮表演。

            水世界和夜公园：

            每到夏季恐龙园会开放“鲁布拉”水世界和夜公园，让孩子们享受一个难忘的暑期。届时在晚上也可照样玩大部分的项目，更可体验水世界的巨型水滑道大喇叭、30米冲击大滑板的刺激，还可以在巨型水寨中展开戏水大战（水世界需另购门票）。

{% endblock %}