{% extends  'JingQu/models.html' %}
{% block content %}

            “烟花三月下扬州”，春季来扬州，必游瘦西湖。瘦西湖是一段狭长的河流，在这里，你既可以沿河而行享受自然美景，或是走进亭台楼阁，品味历代文人墨客的诗画墨宝，你也可以坐上船，感受当年乾隆皇帝游湖的逍遥心情。

            整个瘦西湖风景区很大，从景区东南的大虹桥开始，沿湖北上直至观音山为止，途中经过数十个景点。景区有东南西北共4个大门，通常都是从大虹桥路上的南大门进去开始游览的。

            瘦西湖是著名的湖上园林，自然景观旖旎多姿，这里的春季绿柳成荫，加之山茶、石榴、杜鹃、碧桃等花树相伴，每年吸引着各地游客来踏青赏花。千百年来，无数文人墨客在此流连忘返，吟诗作画，留下了众多墨宝和故事，而且还因地制宜地建造了很多风景建筑。

            五亭桥是瘦西湖的标志，至今有两百多年历史。桥上建有五座风亭，每到满月之夜，五亭桥下十五个桥洞中每个洞都含着一个月亮。二十四桥是景区的另一个著名景点，出自杜牧的诗句“二十四桥明月夜，玉人何处教吹萧”，原桥已不复存在，现在看到是重建的桥。

            这里还曾是清代乾隆皇帝下江南时的必游之处，如今看到的大虹桥、钓鱼台、白塔、熙春台等建筑景观，都留下了与乾隆皇帝不可分割的典故。都说“扬州出美女”，这儿的美女导游也是景区内的一道亮丽风景线。

            每到夏季，瘦西湖开放夜游时，可以欣赏亮了灯的亭台楼阁，和倒映在湖中的月影。夜游需全程坐船，十分轻松，吹着习习湖风，盛夏来此消暑很不错。

{% endblock %}