{% extends  'JingQu/models.html' %}
{% block content %}

            清河坊街是杭州人气最旺的商业区之一，沿街的商铺是老建筑改建的，古色古香。这里各种本地小吃、老字号、茶楼云集，加上背靠吴山，又与美食街高银街近邻，无论是游客还是本地人都常来光顾。

            小吃和购物

            这个商业步行街区不算太大，商铺种类很全，算得上杭城特色的缩影，当地特产在这里基本都能找到。遇到卖定胜糕、酥油饼、龙须糖等当地小食的，不妨买来尝尝。家喻户晓的张小泉剪刀、王星记扇子，虽然小贵，但老字号确实耐用，买上一把留作纪念也不错。

            特色景点

            除了小吃和购物，清河坊也有许多值得一看的场馆。你一定不会错过的便是胡庆余堂，不仅因为它占据了街上的最好位置，街边“胡庆余堂国药号”几个超级雄浑的大字几乎是压迫性地出现在你眼前。平日来此看病抓药的人很多，里面的胡庆余堂中药博物馆可供参观，天井中种植的中药都贴有标签，好像一个中药大课堂。与之类似的还有街区东面的回春堂。

            此外，安荣巷附近的朱炳仁铜雕艺术博物馆里面，门窗、家具等都是铜制的，金光闪闪夺人眼球。在河坊街中段的大井巷转弯，晚上南宋御街美食街十分热闹。

{% endblock %}