{% extends  'JingQu/models.html' %}
{% block content %}

            大梅沙海滨公园位于深圳特区东部，地处南海之滨。这里三面环山，一面临海，中间绵延1800米的开阔沙滩。公园内一派生机勃勃的亚热带海滨风光，深圳市民和外来游客都很喜欢来这儿享受海滨休闲的时光。

            公园的中心是太阳广场和月亮广场，一条“阳光走廊”连接其间。走廊内设有供游客休憩的磨光石凳，总有不少情侣来这儿散步约会。

            大梅沙海滨公园共分游泳区、运动区、休闲区、娱乐区、烧烤场等部分，有摩托艇、沙滩车、蹦极等自费的游乐项目可供选择。和家人朋友相约来这儿聚会，看海、下海游泳或者玩水上项目都非常有意思。

            如果要下海游泳，公园内可提供冷热水冲凉和存包服务。特别需要注意的是，游泳时请千万不要超越防鲨网，注意安全，公园提供24小时防鲨网内义务救生服务。

            公园周边的食宿也比较方便，高端大气的高档餐厅到路边小店，普通旅馆到五星酒店都能找到，特色菜品是海鲜和乳鸽。另外，由于是难得的免费海滨浴场，大梅沙常常是人满为患。如果不喜欢人多，可以选择往海滩边的栈道上走，这边比较清静，听海吹风也挺惬意的。

            沿着海岸线往东走大约两公里，就是小梅沙了，小梅沙收费但游人较少，环境也更好一些。小梅沙旁边是小梅沙海洋世界，感兴趣的话，可一并游览。

{% endblock %}