{% extends  'JingQu/models.html' %}
{% block content %}

            杭州野生动物世界位于杭州近郊，和普通动物园比起来，这里的动物们要自在得多，游人也可以更近距离地观看它们。此外还有不少有趣的免费表演和游乐项目，很适合带小朋友来玩。

            游园概览

            景区分为步行区和行车区两部分，可以从正门购票步行入园，也可从右边的自驾游入口付车辆通行费自驾入园（220元/辆）。大部分动物和动物表演都在靠近大门的步行区，但狮子、老虎一类的动物必须去到靠里的行车区才能看到。若是自驾，可先行游览车行区，将车停在景区内的停车场，而后前往步行区继续游玩。

            步行区

            从大门步行入园，首先到达的是步行区，沿着类似太极图案的环形步道游览，往右可以看到鹦鹉、浣熊、岩羊、蟒蛇等爬行动物，左边则可以看到各种猴子、国宝大熊猫、川金丝猴，以及天鹅、冠鹤之类的鸟类。中间贯穿的步道边，是景区名声最响的“杭州四白”：白狮、白虎、白袋鼠、白犀牛，它们的皮肤都是白色，十分稀有，而且看起来萌萌的，不要错过。

            行车区

            在森林小火车站乘景区的小火车继续往内，行车区散养着来自亚洲、澳洲、非洲、藏北等世界各地的大型动物，坐在车上，你可以看到帅气的非洲狮、英俊的老虎、性感的斑马，还有一脸无辜地望着你的驼羊。骆驼和鸵鸟有时会走到车边好奇地和你打招呼。小火车无需另外购票，大约每半小时一班，车上有讲解员带你了解这些动物们的故事，游玩时间约40分钟。

            美食街与亲子乐园

            看过动物差不多到了中午，正好去步行区和行车区之间的美食广场吃点东西歇一会儿，如果带小朋友来，不妨去旁边的亲子游乐园玩玩旋转木马、马戏小火车，大人也可以来这儿回味一下童年。另外值得一提的是，游乐园附近的动物幼儿园里，可以看到刚出生的小动物，超级可爱。

{% endblock %}