{% extends  'JingQu/models.html' %}
{% block content %}

            千岛湖更准确地讲是新安江水库，位于杭州淳安县，是新安江大坝截流后形成的人工湖。这里湖水清澈，湖面上岛屿星罗棋布，是江浙度假休闲的热门选择。千岛湖周边有十几处漂流点，夏日消暑不可错过。

            千岛湖看点

            游玩千岛湖主要是坐游船登岛游览，景区按照游船线路为中心湖区、东南湖区，有固定的线路和岛屿景点，不仅湖上风光秀美，湖中每个岛的景致都各有特色。西南湖区则有龙川湾、芹川村，可以观赏湿地、古村风光。

            中心湖区和东南湖区是游览的重点，二者都紧靠着千岛湖镇，中心湖区包括梅峰岛、渔乐岛、月光岛、龙山岛等，其中梅峰岛是登高揽胜的绝佳地点；月光岛是爱情主题，适合情侣；看人文景观龙山岛上的海瑞祠可以满足你。东南湖区包括黄山尖、天池岛、桂花岛、蜜山岛，以黄山尖景色最好，在山顶可以俯瞰众多岛屿天然排成“天下为公”四个字，来到这里不妨找找看。桂花岛适合带小朋友去玩，岛上的猴子都是散养的，很可爱。

            乘船攻略

            上岛游览要在镇上的码头坐船，目前已经实现游船公交化，中心湖区游船线路：上午梅峰观岛、渔乐岛、龙山岛，下午渔乐岛、龙山岛、月光岛；东南湖区线路为：黄山尖、天池岛、蜜山岛、桂花岛。各湖区游程大约四五小时，而由于船班时间冲突，无法在一天内游玩两个湖区，可在当天购票时办理隔日游手续，这样第二天游玩时购买船票即可，无需重复购买景区门票。若是想要去游船行程里没有的岛屿，可以考虑包游艇。

            若是自助游，可在阳光车站乘巴士继续前往西南湖区的龙川湾、芹川村，或者去周边的九咆界看瀑布，若是自驾前来，推荐驱车去千岛湖石林和森林氧吧，怪石和绿树会给你非常别致的体验。

            骑行与漂流

            除了观光景点，千岛湖也是个特别适合骑行的地方，环湖公路边有自行车道，在一些星级酒店和镇里的咨询点可以租车，有适合情侣、家人的双人、三人自行车，悠然地吹风看景，别有一番乐趣。此外，千岛湖北面聚集了多处漂流地，而且大多数是比较刺激的皮筏漂流，适合年轻人前往。

            住宿和用餐：
            千岛湖的住宿以经济酒店和高规格度假酒店为主，不乏国际顶级品牌，而且大多景色和服务都很棒，因此在度假村度过一个悠闲的周末也是游千岛湖的极好方式。镇上有湖景的房间价格略贵一些。

            中心湖区码头附近的秀水街集结着各种土特产店、酒店和餐馆，千岛湖的鱼头绝不能错过。夏天晚上秀水街还会有许多烧烤和小吃摊位，是消暑娱乐的好去处。

{% endblock %}