{% extends  'JingQu/models.html' %}
{% block content %}

            深圳野生动物园是中国第一家放养式的野生动物园。这里的动物来自世界各地，不乏珍稀品种，例如世界罕有的狮虎兽、虎狮兽等。园内表演也很好看，大型动物歌舞剧《百兽盛会》非常精彩。周末不妨带孩子来亲子游。

            动物园建于山青水秀的深圳西丽湖畔，整个动物园这些动物除来自全国各地外，还来自世界各洲，它们当中有不少属于世界珍禽名兽和我国一、二级保护动物。如大熊猫、金丝猴、华南虎、东北虎、火烈鸟、麦哲伦企鹅、长颈鹿、斑马、亚洲象、丹顶鹤、犀牛等。还有十分珍稀的狮虎兽、虎狮兽。目前，深圳野生动物园是世界上惟一拥有狮虎兽、虎狮兽的野生动物园。

            整个动物园划分为三个区域，即食草动物区、猛兽区、表演区（步行区）。建议带上入门口提供的导游地图，按地图指示线路去游玩，转一圈下来基本上所有动物都能看到，时间安排会比较合理。比较值得看的点比如有猛兽谷里的那条空中长廊、熊猫馆等。

            动物园的表演也值得一看，有鸟类表演、群虎群狮表演、海洋表演、百兽盛会、非常狮虎兽，其中最值得看的莫过于大型动物广场歌舞剧《百兽盛会》，具体表演时间和地点可以查看官网链接。

            需要注意是的这里吃饭的地方很少，价格也颇贵，建议要去的游客自己带干粮。另外园里现在还开了小型的游乐场，如果去游乐场玩或者动物园内的喂养体验，需要另外收费。

{% endblock %}