{% extends  'JingQu/models.html' %}
{% block content %}

            灵山胜境坐落于无锡太湖之滨，小灵山东麓，景区的主要景点有高88米的铜佛像——灵山大佛、华美的灵山梵宫，五印坛城，此外还有精彩的表演九龙灌浴和灵山吉祥颂。你既可以来这观光旅游，也可以拜佛祈福，甚至进行禅修。

            灵山胜境内景点主要沿着两路，进大门直走一路上的重要景点由南到北依次为九龙灌浴、佛手广场、祥符禅寺、灵山大佛；进大门右手一路上的重要景点为南边的五印坛城和北边的灵山梵宫。先玩直走的一路，再玩右路，按九龙灌浴-佛手广场-祥符禅寺-灵山大佛-灵山梵宫-五印坛城的顺序既可游览完景区的主要景点，其他一些牌坊、雕塑之类的小景点，在路上经过时都会看到。若不愿走路，可坐电瓶车，站点涵盖主要游览区域，25元，中途任意上下，无限次坐。

            进大门过灵山大照壁后直奔九龙灌浴等候表演，表演时喷泉中央的铜莲花会打开，露出释迦牟尼刚出生时“天上天下，唯我独尊”的铜像，喷泉周围的九条龙一起喷出水柱为释迦牟尼沐浴，最后铜莲花再次合上。演出结束后喷泉周围八组凤凰雕像的口中会流出净水“八功德水”，可直接饮用，据说能带来吉祥平安，记得带上个空瓶子去接水。演出每天四场：10:00、11:30、14:45、16:45，每场约20分钟。

            接着来到佛手广场，左侧的“天下第一掌”佛手铜像是按照灵山大佛右手1:1比例造的，让你近距离体会下灵山大佛到底有多大，光这只佛手就有三层楼高，手指的直径有1米，你可以“摸摸佛手，增福添寿”。右侧的百子戏弥勒铜像趣味盎然，一百个在弥勒佛身上嬉戏的顽童有的在叠罗汉，有的在拿小树枝捅弥勒的肚脐，更有调皮的竟然在撒尿，据说顽童们正在考验弥勒是否真的“大肚能容天下事”。

            往北到祥符禅寺，小小的一座寺庙却是整个灵山胜境的发源地。相传唐僧觉得这里的风景像印度的灵鹫山，就把这叫“小灵山”，他的大弟子窥基任“小灵山刹”的第一任主持，到了北宋祥符年间，寺庙改名祥符禅寺，可惜近代被毁，现在看到的寺庙是改革开放后重建的。寺庙中立有一尊露天的和灵山大佛一模一样的缩小版铜佛像，在这一眼能看见缩小版灵山大佛和远处的原版灵山大佛，相映成趣。

            接着到这一路最北端的灵山大佛，先要爬200多级台阶到佛脚下，台阶坡度舒缓，不会太累。要拍照的话在佛脚下的角度不是最好，在刚才祥符禅寺附近拍大佛全景是最好的。到了佛脚下所有游客都爱做的一件事就是抱佛脚求平安，不过佛实在太大，一个人只抱得住佛的一个脚指头。大佛底下的基座内则有佛教文化博览馆，介绍五方五佛（东方的灵山大佛，北方的云冈大佛，中原的龙门大佛，西方的乐山大佛，南方的香港天坛大佛），藏传、南传、汉传三大佛教的文化和故事。

            然后转到东侧那一路的灵山梵宫，梵宫外形上有点像中欧建筑，看上去颇有异域风情；入内要穿鞋套（景区提供），里面可谓金碧辉煌，金的柱子，金的屋顶，东阳木雕、敦煌飞天彩塑、五彩琉璃……中国式的“珠宝”汇聚一堂，尤其要抬头看屋顶，一层层金光灿灿的雕塑，最顶上蓝色灯光打造的漫天星辰与周边金色佛国世界形成强烈的色彩对比，大多数游客进梵宫后基本都保持仰头张嘴惊叹的姿势。

            灵山梵宫内还有灵山吉祥颂表演可看，讲述释迦牟尼悟道的过程。看表演时也要注意下头顶，穹顶上1500盏一圈圈密密麻麻排列的莲花灯，会变幻不同的灯光色彩，像彩虹一样绚丽。演出时间：周一-周五四场10:35、11:30、14:00、16:00，周六-周日增设两场13:00、15:00，游客提前20分钟检票入场。节假日可能有变动，具体可关注官网。

            最后到达红白相间的藏式寺庙五印坛城，坐落于一片湖水中央，隔湖向东眺望还能见到类似东南亚佛教（南传佛教）建筑的曼飞龙塔，风吹塔上风铃飘来悦耳的声音。五印坛城内收藏了来自雪域的唐卡、壁画等宝物。

            灵山胜境内吃饭的地方有九龙灌浴北边，阿育王柱东面的灵山蔬食馆；灵山梵宫内也有吃饭的地方——梵宫餐饮，推荐三楼五观堂的净素自助餐，50元，用餐时间：10:30-14:30。此外，景区大门外有很多农家土菜馆，可以尝尝特色美食太湖三白，即银鱼、白鱼、白虾。

            住宿在灵山胜境不是很有必要，如果你要禅修的话倒是可以去景区东侧的灵山精舍一住。木头家具、素淡的色彩，从酒店的布置到工作人员的服装无不与禅有关，配套有打坐、抄经等活动。酒店的价格小贵，至少400元起。


{% endblock %}