{% extends  'JingQu/models.html' %}
{% block content %}

            广州塔是广州地标，包括发射天线在内，塔高达600米，为国内有名的高塔之一，可自上而下俯瞰广州美景。其头尾相当，腰身玲珑细长，又有“小蛮腰”的俗称。这里晚上会亮灯，即使不游塔，也可来此拍摄外观，用以留念。

            广州塔从下到上，分为A-E一共5个功能区，塔基部分也就是A区为介绍广州历史、文化、经济和旅游景点等展示功能，并设置旅游服务配套设施。塔冠部分也就是E区，设置餐饮、娱乐功能及观景平台。

            广州塔的娱乐项目有高空横向摩天轮、垂直速降极限项目“极速云霄”以及4D影院，除外其还有很多其它景点，比如488摄影观景平台、白云/星光观光大厅、科普游览厅、天梯等，大部分都是以观景摄影为主。

            广州的套票有很多种，可以根据个人的需要购买，目前基础门票白云星光观光门票还是大部分游客选择最多的，当然如果想要体验摩天轮等项目，可以选择想应的套票，价格会比较合算。

            推荐3点半到达电视塔，然后排队安检买票，这样一般4点半-5点可以上到电视塔顶，就可以看日落的广州了，然后可以欣赏拍摄夜景，这样的行程安排基本可以看到白天、傍晚、夜晚的广州全景，比较全面。夏天去电视塔的话由于昼夜长短不同（夏天的夜景比较晚），往后推两小时即可，并且晚上7点-8点是电视塔人最少的时候，错开人群也会比较舒服。

            珠江摄影观景平台：A区，位于2楼，观景平台占地广，依江而建，视野独特广阔，是拍摄城市中轴线的绝佳之处，也是与广州塔摄影留念的好地方，一般可以在此和塔拍照留念。

            3D及4D影院：B区，位于17楼至22楼，4D影院的感受非常立体，且椅子可以上下前后左右跟着剧情在相应情况摇摆，能最大限度地保证了观影效果和身临其境的逼真感受。

            天梯：C区，位于33楼至67楼，它是世界最长的螺旋式空中云梯，带来如蜘蛛人般漫步高空的神奇体验，能从不同角度细细品味广州美景，一般完成项目全程（走完1096级阶梯）需45-60分钟。

            白云/星空观光大厅：E区，位于107、108楼，是广州塔室内观光的最高点，白云星光观光门票指的就是这个观光大厅了，两个观光大厅分别以白云和星空为主题，在这，城市新中轴线和广阔珠江可以尽收眼底。每层都设有一处全透明钢化玻璃构造的“悬空走廊”，可凌空观景，观光层内还设置有世界最高的空中邮局以及广州塔纪念品售卖专柜，你可选购各色各样的特色纪念品和寄送广州塔明信片，在高空邮寄出你对亲朋好友的祝福。

            科普游览厅：E区，位于109、110层，它为你揭秘600米的广州塔如何抵抗强风和避震，对科技及知识敢兴趣的可以看下。

            摩天轮：E区，位于塔顶455米高空处，它是世界最高的横向摩天轮。由16个透明水晶球舱组成，缓缓流转，在高处坐摩天轮，在很多小女生眼里是很浪漫的事情吧，很多人还在此求婚。

            450摄影观景平台：E区，坐落在塔顶450米高处，拥有开阔视角，日落时分的户外景色格外动人。

            488摄影观景平台：E区，位于塔巅的天线桅杆处，可360度无障碍俯瞰羊城全貌，占据城市之巅绝佳拍摄点，摄影爱好者可以来此可从不同角度拍摄广州美景，但是费用较贵，一般只有摄影发烧友会来。

            极速云霄：E区，位于塔顶455米-485米天线桅杆的超高空位置，它是目前世界最高的垂直速降游乐项目，2013年5月荣获吉尼斯世界纪录，吉尼斯委员会还特将此命名为“世界最高惊险之旅”。于485米高空自由落体运动30米，如果爱挑战惊险项目，那一定不可错过。

{% endblock %}