{% extends  'JingQu/models.html' %}
{% block content %}

            净月潭是长春市东南郊的一个水库，因形如弯月而得名，围绕着净月潭种植了大面积的树木，成为了长春最大的森林公园，素有台湾“日月潭”的姐妹潭之称。

            来净月潭森林公园，你可以顺着潭边一路溜达、在水库大坝边欣赏湖光山色，也可以漫步于林间的木栈道，呼吸最纯净的空气，享受森林浴。此外，公园内还有净月潭滑雪场、北普陀寺等景点。

            骑自行车游湖
            净月潭森林公园的西北端是正门，从市区坐轻轨或公交就到这里下。公园很大，环湖有公路，若是全程步行可能要一整天，而且很累。正门广场可以乘坐游览车（电瓶车），沿西环潭路行驶，终点站为滑雪场，半途可下车。不过比较省力而有趣的是骑自行车，骑车绕湖一圈用时将近两小时，正门口可租自行车。

            森林浴场
            净月潭公园树木茂盛、空气清新，很适合享受森林浴。净月潭南岸有森林浴场，你可以在这片密林中漫步散心，吐纳最纯净的空气。净月潭的西部还有小森林浴场，你可以带上食物、野餐布，甚至是帐篷，可在此露营。公园内还有吉林东北虎园，但属于独立景点，可看到东北虎、非洲狮、棕熊、梅花鹿等动物。

            游船码头
            在净月潭上划船是件惬意的事儿，大坝旁、滑雪场旁、森林浴场前都有游船码头。冬季时可以来净月潭滑雪场滑雪，这里有初、中、高级滑道和越野雪道。夏季来也可以体验滑雪场的索滑道，即先坐索道上山，然后坐1.6公里长的管轨式滑道穿过层层林海下山，相当刺激。

{% endblock %}