{% extends  'JingQu/models.html' %}
{% block content %}

            深圳欢乐谷位于深圳华侨城杜鹃山，是国内投资规模较大、设施较为先进的现代主题乐园，也是“亚太十大主题公园”之一。全园分为九大主题区：西班牙广场、魔幻城堡、冒险山、金矿镇、香格里拉·雪域、飓风湾、阳光海岸、欢乐时光和玛雅水公园。不仅有100多个老少皆宜、丰富多彩的游乐项目，还有异彩纷呈的现场演出。

            西班牙广场：这里是欢乐谷的大本营，咨询和餐饮、购物都可以在这里解决。西班牙广场右手边，是欢乐干线的欢乐谷站。欢乐干线是全国首列无人驾驶的空中观光列车，全程3.88公里，匀速运行在华侨城旅游度假区的上空，沿途可以高空游览世界之窗、锦绣中华、中国民俗文化村和深圳湾畔美景（欢乐干线全程约半小时，只可同一站上下车。可购买欢乐谷+欢乐干线套票，详情可垂询景区）。
            推荐项目：欢乐干线

            魔幻城堡：魔幻城堡非常适合带小朋友来玩，这里有20多项有趣的亲子游乐项目，“幻城”魔术表演和欢乐集市也在这里，还有浪漫梦幻的双层旋转木马。不仅可以带小朋友来玩，也适合和情侣来这儿浪漫约会。
            推荐项目：旋转木马、“幻城”魔术表演、欢乐集市

            冒险山：郁郁葱葱的山林里，不仅可以体验冒险和挑战，而且还隐藏着温馨浪漫等不同的感受。
            推荐项目：太空梭、森林攀爬

            金矿镇：金矿镇的场景原型是200多年前北美一个遭遇水灾的矿镇，在这里，你可以乘坐巷道式“矿山车”，重温1919年山洪爆发时矿工乘坐矿山车逃生时惊心动魄的场面，也可以在游乐中感受矿工的生活。有兴致的话，还可以参观金矿作坊，或走进相馆照张身着小镇居民服的老照片。当然，这里还有环园小火车的金矿镇站。
            推荐项目：矿山车、金矿漂流、魔幻剧场、矿井戏水、金矿听音室

            香格里拉·雪域：来到传说中的充满藏族风情的香格里拉雪域，便来到了深圳欢乐谷大型游乐项目集中的部分。
            推荐项目：雪域雄鹰、雪界、恰恰大草帽、追风者、彩云之翼、雪山飞龙

            飓风湾：飓风湾的故事发生在一个充满加勒比海岛风情的废墟小镇上，这里有世界上落差较高的“激流勇进”，可以乘坐老渔翁LOUIS的旅游船，体验从26米高处飞驰而下的刺激。
            推荐项目：激流勇进、完美风暴、飓风眼

            阳光海岸：这里是一派迷人的海滨风情，玩累了，不妨在阳光海岸的休闲走廊里小憩一会，在沙滩边散散步，或者带着孩子在沙滩边堆沙雕。有兴致的话，可以去极限运动营看一场惊心动魄的极限运动表演。
            推荐项目：青蛙跳、极限运动表演

            欢乐时光：20世纪初繁华的欧洲小镇，在这里，欢乐是永恒的主题，欢乐时光的项目几乎都以惊险刺激为主，能让人把烦恼抛到九霄云外。
            推荐项目：发现者、UFO、龙卷风、尖峰时刻、四维影院

            玛雅水公园：荣获世界水公园协会“行业创新”桂冠的水公园。玛雅水公园里是原汁原味南美风情，有非常新奇的亲水娱乐项目，而且会有各种水上舞台表演活动，推荐喜欢玩水的游客来玛雅水公园感受一下。
            推荐项目：彩虹赛道、玛雅水寨、羽蛇神环

            欢乐谷值得花上一天时间来慢慢享受，如果你的时间比较充裕，欢乐谷周边一公里的何香凝美术馆、世界之窗、锦绣中华民俗村都值得一去。 

{% endblock %}