{% extends  'JingQu/models.html' %}
{% block content %}

            北京欢乐谷位于北京东四环，是北京最大的主题公园之一，有峡湾森林、亚特兰蒂斯、失落玛雅、爱琴港、香格里拉、蚂蚁王国和欢乐时光七个主题区。内设40多项娱乐设备、近百项景观、表演和主题游戏，让人尽享畅快激情。

            峡湾森林 Wild Fjord

            奇妙的欢乐谷之旅，从“峡湾森林”开始。这里是园区入口区域，也是最重要的交通集散中心，在这里，你可以租用电瓶车享受自由自在的快乐，也可以乘坐19世纪风格的小火车环游整个园区，对园内的各个设施有概括的了解。
            推荐项目：环园小火车
            环园小火车仿照19世纪末期双轨火车的外形设计，在高空轨道上缓缓前行，从高处俯瞰整个欢乐谷，为接下来的欢乐旅程定一条路线吧。

            欢乐时光 Happy Time

            欢乐时光区将时下最前卫、最流行的汽车文化主题引入公园，营造出真实赛车的刺激感受。无论是全球最高发射式过山车还是酣畅淋漓的“冲浪者”，感受的都是速度与激情的魅力。
            推荐项目：极速飞车
            F1赛车车体设计，中国最高的发射式过山车，感受最真实F1赛车的极速刺激。

            亚特兰蒂斯 Atlantis

            亚特兰蒂斯区是欢乐谷的核心区域，围绕着亚特兰蒂斯人如何开采、制作、使用水晶，再现了一个沉落海底的远古文明的生活场景。区域中有高69.98米的亚洲第一塑山，是全园的标志性建筑。
            推荐项目：聚能飞船、水晶神翼
            聚能飞船是目前亚洲最高的飞行岛之一，也是运动幅度最大的观览器，在60米高的天空俯瞰水晶圣城和整个欢乐谷，极其震撼。
            水晶神翼是亚洲第一台飞行式过山车。轨道长度853米，提升高度达到37.8米，是亚洲唯一的一台。乘坐独特的旋转座椅，体验在空中盘旋飞舞的感觉吧。

            爱琴港 Aegean Harbor

            以希腊爱琴文明为背景，通过爱琴海边的故事，展开一幅优美的画卷。在爱琴港，可以感受古希腊特色的神庙和现代风格的希腊小镇，
            推荐项目：奥德赛之旅
            奥德赛之旅是亚洲最高的双提升激流勇进项目，小船分别在10米和26米的高点，以高达74km/h的速度顺势下冲，飞溅起巨大的水花，船上的游人无不惊呼连连。

            失落玛雅 Lost Maya

            以失落的玛雅文明为背景，巨大的玛雅金字塔、神庙、玛雅雕像、索桥、国王纪念碑等大型建筑重现了当年玛雅文明的盛况。在太阳神车、玛雅天灾、丛林飞车和墨西哥风情表演中探寻玛雅失落的秘密吧。
            推荐项目：太阳神车
            太阳神车是亚洲最大的大摆锤，6台大功率电机一起启动，瞬间将游人抬升至15层楼的高度，跌落、翻转、转弯、飙升，乘坐其上，仿佛处于失控状态，惊心动魄。

            香格里拉 Shangri-la

            香格里拉是世外桃源的代名词，一部小说《消失的地平线》展示出她的淳朴和静雅。在这里，你可以感受天地双雄和雪域金翅的刺激，也可以感受花境漂流的神秘梦幻，而刀梯表演更让你眼界大开。
            推荐项目：雪域金翅、天地双雄
            雪域金翅是亚洲最大的悬挂过山车，其运行过程刺激流畅，惊心动魄。“大俯冲”、“眼镜蛇翻滚”、“垂直回旋翻滚”、“圆形环绕”、“45度倾斜弯”，各种惊险刺激不胜枚举。
            天地双雄是亚洲第一座双塔太空梭。双塔并立，一个塔的座椅由下而上做高速弹射运动，在2秒钟内可以冲到56米的顶端；另一个塔则由上而下做自由降落运动，瞬间的上下中体会失重的感觉。

            蚂蚁王国 Ant Kingdom

            蚂蚁王国是小朋友们的乐园，也是欢乐谷最独特有趣的区域。蚂蚁王国以超大尺度形象为特点，夸张的蚁穴、深凹的车痕，高达十米的“小草”...从蚂蚁的视角感受这个新奇的世界。小朋友们则可以了解到关于生态、物种、群落这些听起来有些复杂的知识。
            推荐项目：飞蚁战队
            飞蚁战队是蚂蚁们的高空巡逻，乘坐着蚂蚁的飞行器，在农场的上空高低盘旋，是不是有电影《凌云壮志的感觉？

            精彩表演

            除了惊险刺激的娱乐项目，欢乐谷从来不缺乏各种精彩表演。位于欢乐谷入口处的华侨城大剧院每晚上演的舞台剧《金面王朝》，场面庞大恢弘，舞台设计、灯光无不精美绝伦，堪称是一场视觉的盛宴。

            除此之外，亚特兰蒂斯区的《花样跳水与飞翔摩托艇水上表演》、爱琴港区的极限竞技街头表演（滑轮、滑板、赛车）、香格里拉区的互动表演《野蜂渡客栈》、蚂蚁王国区的儿童剧《蚂蚁快跑》，都各具特色，体验刺激之余，也可以坐下来感受下悠闲。

{% endblock %}